/** Main page layout **/
.frontpage-container {
	margin-bottom: 1.5em;
}

.frontpage-container:after {
	clear: both;
}

.frontpage-container h2 {
	text-align: center;
}

#frontpage-logo {
	max-height: 10em;
	margin-bottom: 1em;
}
	
.frontpage-twitter-timeline {
	margin: 1em auto;
	max-width: 560px;
}

@media (max-width: 991px) {
	.frontpage-media {
		margin-bottom: 1em;
	}
}

@media (min-width: 992px) {
	.frontpage-media {
		margin-top: 6em;
		float: right;
		width: 65%;
	}
	
	.frontpage-feed {
		float: left;
		width: 35%;
	}
}

/** Carousel **/

div.carousel-tmp > img.carousel-loading {
	background: radial-gradient(#ffffff, #333 70%);
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
	width: 150px;
	height: 150px;
	padding: 25px;
	margin: 0 auto;
}

@media (max-width: 767px)
{
	div.carousel-inner {
		height: 300px;
	}
	
	div.carousel-inner > .item {
		height: 100%;
	}
	
	div.carousel-inner > .item > img {
		max-width: 100% !important;
		max-height: 300px;
		margin: auto;
		vertical-align: middle;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	div.carousel-inner img.loading {
		height: 30%;
	}
	
	div.carousel-inner > div.carousel-tmp {
		padding: 100px;
		height: 300px;
		max-height: 300px;
	}
	div.carousel-inner div.carousel-caption {
		display: none;
	}
	ol.carousel-indicators {
		background-color: rgba(0,0,0,0.5);
	}
}
@media (min-width: 768px)
{
	div.carousel {
		width: 80%;
	}
	
	div.carousel-inner > .item {
		height: 400px;
	}
	
	div.carousel-inner > .item > img {
		width: auto;
		max-width: none !important;
		/* height: 400px !important; */
		max-height: 500px;
		margin: 0 auto;
	}
	div.carousel-inner img.loading {
		height: 50%;
	}
	div.carousel-inner > div.carousel-tmp {
		padding: 150px;
		height: 400px;
	}
}
@media (min-width: 1200px)
{
	div.carousel-inner > .item {
		height: 500px;
	}
	
	div.carousel-inner > .item > img {
		/* max-width: none !important; */
		/* height: 500px !important; */
		/* max-height: 500px; */
		margin: 0 auto;
	}
	div.carousel-inner img.loading {
		height: 75%;
	}
	div.carousel-inner > div.carousel-tmp {
		padding: 200px;
		height: 500px;
	}
}

div.carousel-caption {
	background-color: rgba(0,0,0,0.5);
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}
