html {
	height: 100%;
}

body {
	 min-height: 100%;
     padding: 30px;
     padding-top: 70px;
     font-family: 'Roboto', sans-serif;
     display: flex;
	 flex-direction: column;
}

body > * {
	flex-shrink: 0;
}
@media (min-width: 768px) {
	p a {
		white-space: nowrap;
	}
}

/** Basic style formatting **/
.content {
    padding: 20px 15px;
    text-align: center;
}

.text-par {
    text-align: justify;
}

.membership {
	margin-top: 10px;
	padding-bottom: 10px;
}

@media all and (max-width: 767px) {
    .text-par {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media all and (min-width: 992px) {
  .text-par {
    width: 80%;
    margin: 10px auto;
  }
}

.card-header > a {
    color: inherit;
}

/** Navbar formatting **/
.navbar {
	font-size: 16px;
}

@media (min-width: 768px) {
    .navbar {
        padding-left: 50px;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 8px 27.5px;
    }
}

.navbar-brand > img {
	max-height: 22px;
	opacity: 0.5;
}

.navbar-brand:hover > img {
	opacity: 1;
}

/** Footer formatting **/
.footer {
	background-color: #000e33;
	color: #ffffff;
	clear: both;
	margin: 1em -30px -30px -30px;
	font-size: 1.25em;
	box-shadow: inset 0px 10px 8px 0px #00071a;
	flex-grow: 1;
}

.footer #copyright-text {
	font-size: 0.75em;
	margin-top: 1em;
	text-align: center;
}

.footer .footer-col:first-child {
	margin-top: 2em;
}

.footer .footer-col {
	margin-bottom: 1em;
}

.footer .footer-col:last-child {
	margin-bottom: 2em;
}

.footer #footer-logo {
	max-height: 3.5em;
}

.footer ul {
	padding-left: 0;
	list-style-type: none;
}

.footer ul > li {
	margin: 0.5em 0;
}

.footer a:not(.img-link) {
	color: #d7d7d7;
	text-decoration: underline;
	min-width: 100px;
}

.footer .social-icons {
        text-align: center;
        font-size: 25px;
}

.footer .social-icons a {
        text-decoration: none;
}

.footer .social-icons a svg {
        margin: 0 5px;
}

@media all and (max-width: 991px) {
	.footer {
		text-align: center;
	}
}

@media all and (min-width: 992px) {
	.footer .footer-col {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

/** Image formatting **/
img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img#site-header {
    margin: 0 auto 20px auto;
    display: block;
    max-width: 90%
}

div.img-left > img,
div.img-right > img {
	width: 100%;
}

.recruit {
	width: 100%;
	height: 100%;
}

.img-blur-container {
	position: relative;
}

.img-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	transform: scale(0.95);
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: .7s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	color: #ffffff;
}

.img-blur-container img {
	transition: .7s ease;
}

.img-blur-container:hover img {
	filter: blur(7px) contrast(75%);
}

.img-blur-container:hover .img-overlay {
	opacity: 1;
	transform: scale(1);
}

.overlay-text {
	color: #eee;
}


@media (max-width: 767px) {
	div.img-left,
	div.img-right {
		float: none;
		width: 100%;
		margin: 5px 5px;
	}

	div.img-left > img,
	dig.img-right > img {
		display: block;
		margin: 0 auto;
	}

	div.img-row > img {
		height: auto;
		width: 300px;
	}
}

@media (min-width: 768px) {
	div.img-left {
		float: left;
		width: 35%;
		margin-right: 1em;
	}

	div.img-right {
		float: right;
		width: 35%;
		margin-left: 3em;
	}

	div.img-row > img {
		display: inline-block;
		vertical-align: middle;
		height: 300px;
	}
}

iframe {
    max-width: 100%;
}

.modal iframe {
    max-height: 500px;
}

/* Allow hovering on navbar links */
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    ul.nav ul.dropdown-menu {
        top: 90%;
    }
}

/** Carousel **/

div.carousel-inner {
	background-color: #333;
}

div.carousel-inner > .item > img {
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	margin: auto;
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 767px)
{
	div.carousel-inner {
		height: 300px;
	}

	div.carousel {
		min-width: 60%;
		max-width: 80%;
		margin: 0 auto;
	}

	div.carousel-inner > .item {
		height: 100%;
	}

	div.carousel-inner div.carousel-caption {
		display: none;
	}
	ol.carousel-indicators {
		background-color: rgba(0,0,0,0.5);
	}
}
@media (min-width: 768px)
{
	div.carousel-inner > .item {
		height: 400px;
	}

	div.carousel {
		margin: 0 auto;
		max-width: 80%;
	}
}
@media (min-width: 1200px)
{
	div.carousel {
		margin: 0 auto;
	}

	div.carousel-inner > .item {
		height: 500px;
	}
}

div.carousel-caption {
	background-color: rgba(0,0,0,0.5);
}

div.loading {
	border: 10px solid white;
	border-top: 10px solid #bcbcbc;
	border-bottom: 10px solid #bcbcbc;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}
