div.img-left > img,
div.img-right > img {
	width: 100%;
}

@media (max-width: 767px) {
	div.img-left,
	div.img-right {
		float: none;
		width: 100%;
		margin: 5px 5px;
	}

	div.img-left > img,
	dig.img-right > img {
		display: block;
		margin: 0 auto;
	}

	div.img-row > img {
		height: auto;
		width: 300px;
	}
}

@media (min-width: 768px) {
	div.img-left {
		float: left;
		width: 35%;
		margin-right: 1em;
	}

	div.img-right {
		float: right;
		width: 35%;
		margin-left: 3em;
	}

	div.img-row > img {
		display: inline-block;
		vertical-align: middle;
		height: 300px;
	}
}

/** Carousel **/

@media (max-width: 767px)
{
	div.carousel-inner {
		height: 300px;
	}

	div.carousel-inner > .item {
		height: 100%;
	}

	div.carousel-inner > .item > img {
		max-width: 100% !important;
		max-height: 300px;
		margin: auto;
		vertical-align: middle;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	div.carousel-inner img.loading {
		height: 30%;
	}

	div.carousel-inner > div.carousel-tmp {
		padding: 100px;
		height: 300px;
		max-height: 300px;
	}
	div.carousel-inner div.carousel-caption {
		display: none;
	}
	ol.carousel-indicators {
		background-color: rgba(0,0,0,0.5);
	}
}
@media (min-width: 768px)
{
	div.carousel-inner > .item {
		height: 400px;
	}

	div.carousel-inner > .item > img {
		width: auto;
		max-width: none !important;
		height: 400px !important;
		max-height: 500px;
		margin: 0 auto;
	}
	div.carousel-inner img.loading {
		height: 50%;
	}
	div.carousel-inner > div.carousel-tmp {
		padding: 150px;
		height: 400px;
	}
}
@media (min-width: 1200px)
{
	div.carousel-inner > .item {
		height: 500px;
	}

	div.carousel-inner > .item > img {
		width: auto;
		max-width: none !important;
		height: 500px !important;
		max-height: 500px;
		margin: 0 auto;
	}
	div.carousel-inner img.loading {
		height: 75%;
	}
	div.carousel-inner > div.carousel-tmp {
		padding: 200px;
		height: 500px;
	}
}

div.carousel-inner div.loading {
	margin-left: auto;
	margin-right: auto;
}

div.carousel-caption {
	background-color: rgba(0,0,0,0.5);
}

div.loading {
	border: 10px solid white;
	border-top: 10px solid #bcbcbc;
	border-bottom: 10px solid #bcbcbc;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg);}
}
