---
title: Coordination Districts | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>

  <body>
  	{% include header.html %}

    <div class="container">

     <div class="content">
        <h1>Coordination Districts</h1>
        <p>We at FAMNM do our best to provide assistance to teams that need mentors and/or resources.
			We make sure all of our mentors are trained and teach them to act professionally and try to provide as many resources as we can.
			We currently assist and work with the FRC and FLL competition levels. If your team would like to be affiliated with FAMNM and receive some of these benefits,
			please contact one of our Coordinators.</p>
		<ul style="display: inline-block;">
			<li><span class="bold">Head Coordinator:</span> Spencer Marshall, <a href="mailto:famnm.head-coord@umich.edu">famnm.head-coord@umich.edu</a></li>
			<li><span class="bold">FLL Team Coordinator:</span> Zoe Espinosa, <a href="mailto:famnm.FLL-coord@umich.edu">famnm.FLL-coord@umich.edu</a></li>
			<li><span class="bold">FRC Team Coordinator:</span> Alycia Gerber and Colin Bott, <a href="mailto:famnm.FRC-coord@umich.edu">famnm.FRC-coord@umich.edu</a></li>
		</ul>
      </div>
    </div><!-- /.container -->
    
	{% include footer.html %}
	{% include scripts.html %}
  </body>
</html>