---
title: Freelance Mentor Program | FIRST® Alumni & Mentors Network at Michigan
FIRST: <span class="font-italic">FIRST<sup>&reg;</sup></span>
---
{% assign FIRST = page.FIRST %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
    <style>
        #freelance-img {
            max-width: 500px; 
            margin-bottom: 10px;
        } 
        @media(max-width: 767px) {
            #freelance-img {
                max-width: 100%;
            }
        }
    </style>
</head>
<body>
    {% include header.html %}

    <div class="container">
        <div class="content">
            <h1 class="page-header">Freelance Mentor Program</h1>
            <p class="text-par">
                The Freelance Mentor Program provides short-term mentoring
                resources to local teams of all levels. University of Michigan students 
                with expertise in areas such as chassis, electronics, programming, 
                presentations, and business plans are available assist teams on a case
                by case basis. Some notable examples include a day of autonomous
                mentoring for FRC team WARHBOTS (shown below), an afternoon of practice 
                match refereeing and practice judging sessions for the five Chelsea and 
                Dexter FTC teams, and a project presentation review and critique for FLL
                team The Robobears.
            </p>
            <p class="text-par">
                Looking for help? Reach out to the team coordinator for your level of FIRST:
                <a href="mailto:famnm.frc@umich.edu">famnm.frc@umich.edu​</a>, 
                <a href="mailto:famnm.ftc@umich.edu">famnm.ftc@umich.edu​</a>, or
                <a href="mailto:famnm.fll@umich.edu">famnm.fll@umich.edu​</a>.
            </p>
            <img class="img center" 
                 id="freelance-img" 
                 src="../img/teams/fr_mentor1.jpg" 
                 alt="FAMNM Freelance Mentoring"/>
            <p class="bold">Pictured: Freelance mentors helping out Team 6618 - WARHBOTS for {{ FIRST }} Power Up!</p>
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
