---
title: Freelance Mentor Program | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
    <style>
      #freelance-img {
        max-width: 500px; 
        margin-bottom: 10px;
      }
      
      @media(max-width: 767px) {
        #freelance-img {
          max-width: 100%;
        }
      }

    </style>
  </head>

  <body>

  	{% include header.html %}

    <div class="container">

     <div class="content">
        <h1 class="page-header">Freelance Mentor Program</h1>
        <p class="text-par">The Freelance Mentor Program looks to provide mentor
        resources to a broad range of teams. It can be difficult for students to
        commit to mentoring a team for a full season and there are always teams
        looking for more mentors. To solve these issues, the Freelance Mentor
        Program allows University of Michigan students with expertise in areas
        such as chassis, electronics, and programming to assist teams on a case
        by case basis. For example, if a team needs programming help, a few
        freelance mentors could visit a team and provide assistance with their
        programming. This would allow the team to get help, while not committing
        the mentors to a full season.</p>

      <img class="img center" id="freelance-img" src="../img/teams/fr_mentor1.jpg" alt="FAMNM Freelance Mentoring">

		<p class="bold">Pictured: Freelance mentors helping out Team 6618 - WARHBOTS for <span class="italic">FIRST</span>&reg; Power Up!</p>
      </div>
    </div><!-- /.container -->

	{% include footer.html %}
	{% include scripts.html %}
  </body>
</html>
