---
title: Available Resources | FIRST® Alumni & Mentors Network at Michigan
FIRST: <i>FIRST<sup>&reg;</sup></i>
---
{% assign FIRST = page.FIRST %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
    <script src="../js/web-encapsulation.js"></script>
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>Resources for Teams</h1>
            <p class="text-par">
                Are you a {{ FIRST }} team looking for resources or mentors?
                You've come to the right place! FAMNM is here to help you 
                by connecting you to U of M students, machinery, and opportunities.
                As our member base is primarily comprised of FIRST alumni,
                we do our best to provide the next generation of FIRST
                students the best experience possible and grow our extensive 
                FIRST FAMNMily!
            </p>
            <p class="text-par" style="margin-bottom: 1.5em;">
                Any team that would like to obtain support and resources 
                from FAMNM must become affiliated with FAMNM by working 
                with one of our Coordinators to review and customize a contract.
                This will outline the expectations and responsibilities of 
                both parties so as to ensure that FAMNM is best meeting the
                team’s needs and structure.
            </p>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#frc">FIRST Robotics Competition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ftc">FIRST Tech Challenge</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#fll">FIRST Lego League</a>
                </li>
            </ul>
            <div class="tab-content text-par img-fluid mx-auto">
                <div id="frc" class="tab-pane fade in active show">
                    <img class="my-3" src="../img/teams/FRC-Demos.jpg" alt="FIRST Robotics Competition"/>
                    For our FRC teams, we can help provide mentor support 
                    throughout the build and competition season. We additionally
                    host an annual <a href="../events/kickoff.html">FRC Kickoff</a>. Interested? 
                    Email our head FRC Coordinator at <a href="mailto:famnm.frc@umich.edu">famnm.frc@umich.edu​</a> to get connected.
                </div>
                <div id="ftc" class="tab-pane fade">
                    <img class="my-3" src="../img/teams/FTC-Kickoff.jpg"  alt="FIRST Tech Challenge"/>
                    Currently, FAMNM primarily supports FTC teams through our 
                    annual  <a href="../events/ftc-kickoff">FTC Kickoff</a>
                    event. We also provide opportunities for mentorship to local
                    teams. Interested in getting involved? Email our FTC 
                    Coordinator at <a href="mailto:famnm.ftc@umich.edu">famnm.ftc@umich.edu​</a> to get connected.
                </div>
                <div id="fll" class="tab-pane fade">
                    <img class="my-3" src="../img/teams/FLL-TrashTrek.jpg" alt="FIRST Lego League">
                    With FLL, we are working on building team 
                    relationships, and are currently only providing 
                    mentor support for teams in our area. Interested? 
                    Email our FLL Coordinator at
                    <a href="mailto:famnm.fll@umich.edu">famnm.fll@umich.edu</a>
                    to get connected.
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
