---
import type { CoreMember } from "../../components/about/CoreMemberCard.astro";
import CoreMemberCard from "../../components/about/CoreMemberCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const people: CoreMember[] = [
  {
    name: "Brandon McDonald",
    email: "famnm.pres",
    img: "about/core/temp.jpg",
    role: "President",
  },
  {
    name: "Bridget Bruce",
    email: "famnm.vp",
    img: "about/core/bridget.jpg",
    role: "Vice President",
  },
  {
    name: "Melissa Peters",
    email: "famnm.admin",
    img: "about/core/melissa.jpg",
    role: "Director of Internal Affairs",
  },
  {
    name: "Noah Tonn",
    email: "famnm.treasurer",
    img: "about/core/temp.jpg",
    role: "Treasurer",
  },
  {
    name: "Jiawei Chen",
    email: "famnm.volunteer",
    img: "about/core/jiawei.jpeg",
    role: "Volunteer Coordinator",
  },
  {
    name: "Noah Tonn",
    email: "famnm.volunteer",
    img: "about/core/temp.jpg",
    role: "Volunteer Coordinator",
  },
  {
    name: "Peter Celani",
    email: "famnm.kickoff",
    img: "about/core/temp.jpg",
    role: "Kickoff Coordinator",
  },
  {
    name: "Bridget Bruce",
    email: "famnm.ri3d",
    img: "about/core/bridget.jpg",
    role: "Ri3D Coordinator",
  },
  {
    name: "Brandon McDonald",
    email: "famnm.frc",
    img: "about/core/temp.jpg",
    role: "FRC Coordinator",
  },
  {
    name: "Bridget Bruce",
    email: "famnm.ftc",
    img: "about/core/bridget.jpg",
    role: "FTC Coordinator",
  },
  {
    name: "Carter Koch",
    email: "famnm.webmaster",
    img: "about/core/temp.jpg",
    role: "Webmaster",
  },
  {
    name: "Peter Celani",
    email: "famnm.marketing",
    img: "about/core/temp.jpg",
    role: "Director of Marketing",
  },
  {
    name: "Mason Portice",
    email: "famnm.marketing",
    img: "about/core/temp.jpg",
    role: "Director of Marketing",
  },
  {
    name: "Chelsea Weber",
    email: "famnm.corporate",
    img: "about/core/temp.jpg",
    role: "Director of Corporate Outreach",
  },
  {
    name: "Meghana Sennerikuppam",
    email: "famnm.projects",
    img: "about/core/temp.jpg",
    role: "Director of Project Development",
  },
];
---

<BaseLayout
  title="FAMNM Core Team | FIRST® Alumni & Mentors Network at Michigan"
>
  <div class="container">
    <div class="content">
      <h1>FAMNM Core Team 2024&ndash;2025</h1>
      <p class="text-center">
        All FAMNM Core Team members can be reached at <a
          href="mailto:famnm.core@umich.edu">famnm.core@umich.edu</a
        >.
      </p>
      <div class="row g-4 row-cols-auto d-flex justify-content-center">
        {
          people.map((info) => (
            <div class="col">
              <CoreMemberCard info={info} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
