---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import champTablePicture from "../../images/sponsor/general.jpg";
import legoBuildPicture from "../../images/sponsor/mentor.jpg";
import frcVolunteerPicture from "../../images/sponsor/volunteer.jpg";
---

<BaseLayout
  title="Become a Member | FIRST® Alumni & Mentors Network at Michigan"
>
  <div class="container">
    <div class="content">
      <h1>Joining FAMNM</h1>
      <p class="text-par">
        FAMNM is open to all University of Michigan students. Our members come
        from many different backgrounds, colleges, and majors, and some have
        never even participated in <i>FIRST<sup>&reg;</sup></i> before! We know that
        as a UofM student, your schedule is tight. FAMNM lets you put as much or
        as little in as you want and works completely around your schedule. Signing
        up is easy! Just join us on <a
          href="https://maizepages.umich.edu/organization/FAMNM">Maize Pages</a
        >
        and we'll get in touch.
      </p>

      <p class="text-par">
        If you have any questions, feel free to send them to <a
          href="mailto:famnm.admin@umich.edu">famnm.admin@umich.edu</a
        >
      </p>
      <div class="text-par mx-auto">
        <h2 class="fs-3 text-center">General Members</h2>
        <p id="members">
          <Picture
            class="my-3 w-50 d-block mx-auto h-auto"
            src={champTablePicture}
            alt="Michigan robotics table at the FIRST Championship"
            densities={[0.2, 0.5, 0.7, 1, 2]}
          />
          General members assist FAMNM operationally. We encourage members to attend
          our biweekly General Body Meetings to stay updated about what FAMNM is
          up to. Want to help FAMNM continue to grow and improve? Join one (or several)
          of our committees!
        </p>
        <h2 class="fs-3 text-center">Mentors</h2>
        <p id="mentors">
          <Picture
            class="my-3 w-50 d-block mx-auto h-auto"
            src={legoBuildPicture}
            alt="FAMNM members build using LEGO pieces"
            densities={[0.2, 0.5, 0.7, 1, 2]}
          />
          FAMNM helps match local teams and potential mentors. You can choose to
          help a team full time, or participate in the Freelance Mentor program,
          providing assistance to teams on an as needed basis only.
        </p>
        <h2 class="fs-3 text-center">Volunteers</h2>
        <p id="volunteers">
          <Picture
            class="my-3 w-50 d-block mx-auto h-auto"
            src={frcVolunteerPicture}
            alt="FAMNM members volunteering at an FRC event"
            densities={[0.2, 0.5, 0.7, 1, 2]}
          />
          Every year, FAMNM sends volunteers to FIRST events across the state of
          Michigan and beyond! We'll do our best to make sure you can get to all
          the events of your choosing. Volunteers serving in key roles are eligible
          to be reimbursed for some travel costs!
        </p>
      </div>
    </div>
  </div><!-- /.container -->
</BaseLayout>
