---
title: 2019 Ri3D Technical Documentation | FIRST® Alumni & Mentors Network at Australia
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container content">
        <h1>FAMNA Robot in 3 Days - 2019 Documentation</h1>
        <a href="index.html">&larr; FAMNA Ri3D Overview</a>
        <img class="mx-auto w-75 mt-3" src="{{site.url}}/img/ri3d/sponsor-name-here.jpg"/>
        <div class="my-3 font-italic">2019 FAMNA Ri3D Robot: Laika</div>
        <h2 id="tech-docs">Technical Documentation</h2>
        <ul class="text-left text-par">
            <li><a href="https://github.com/famnm/ri3d-2019" target="_blank" rel="noopener noreferrer">Source code</a></li>
            <li><a href="https://www.youtube.com/watch?v=YZTIdKUNgck&list=PLSr939s0l0jteDxt8WwPRrvIsdbnBTp76" target="_blank" rel="noopener noreferrer">Build process playlist</a></li>
        </ul>
        <h2 id="faq">Frequently Asked Questions</h2>
        <dl class="text-left text-par">
            <dt>What gear ratio did you use on the arm?</dt>
            <dd>We had a 100:1 gearbox driving a chain-and-sprocket mechanism with a ratio of roughly 3:1, so overall the ratio was 300:1.</dd>
            <br/>
            <dt>What size gas strut did you use to counterbalance the arm?</dt>
            <dd>We used a 30-pound gas strut.</dd>
        </dl>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
