---
title: 2019 Ri3D Technical Documentation | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include title-styles.html %}
            <style>
                dd {
                    padding-left: 50px;
                }
                .caption {
                    font-style: italic;
                    margin: 1em 0;
                }
                .robot-img {
                    margin-top: 1em;
                }
            </style>
	</head>
	<body>
		{% include header.html %}
		<div class="container content">
            <h1 class="page-header">FAMNM Robot in 3 Days - 2020 Documentation</h1>
            <a href="index.html">&larr; FAMNM Ri3D Overview</a>
            <!-- <img class="mx-auto w-75 robot-img" src="{{site.url}}/img/ri3d/sponsor-name-here.jpg"/> -->
            <div class="caption">2020 FAMNM Ri3D Robot: name TBD</div>
            <h2 id="tech-docs">Technical Documentation</h2>
                    <a class="mx-auto btn btn-secondary" href="http://bit.ly/MRi3D-2020Drive">
                        Google Drive
                    </a>
                    <a class="mx-auto btn btn-secondary" href="https://github.com/FAMNM/ri3d-2020">
                        GitHub
                    </a>
            <h2 id="faq">Frequently Asked Questions</h2>
                <dl class="text-left">
                    <dt>How do I get my question posted here?</dt>
                    <dd>Reach out to us on Chief Delphi or at <a href="mailto:famnm.ri3d@umich.edu">famnm.ri3d@umich.edu</a></dd>
                </dl>
		</div><!-- /.container -->
	</body>
	{% include footer.html %}
    {% include scripts.html %}
</html>
