---
title: Robot in Three Days (Ri3D) | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include title-styles.html %}
	<style>
		.champs{
			background: red;
			background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
			background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
			background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
			background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 40px;
			font-weight: bold;
		}
                .desc-row:not(:first-child) {
                    margin-top: 1em;
                }
                .lead-card {
                    padding: 1.5em;
                    background-color: #eeeeee;
                }
                @media (max-width: 767px) {
                    img ~ .desc {
                        margin-top: 1em;
                    }
                }
	</style>
	</head>
	<body>
		{% include header.html %}
		<div class="container content">
                    <h1 class="page-header">FAMNM Robot in 3 Days</h1>
                         <div class="card lead-card text-left">
                             <h2>2019 FAMNM Ri3D</h2>
                             <p>Our Ri3D team had a blast building our robot for the 2019 FRC game, <span class="font-italic">Destination: Deep Space Presented By The Boeing Company</span>!
                                If your team is looking for insight for their build process, or you're just curious to see what we did, check out our documentation page!</p>
                             <a class="mx-auto btn btn-primary" href="2019.html">2019 Build Documentation</a>
                         </div>
			 <div class="row desc-row text-left">
                              <div class="col-md-6 desc">
                                  <h2 id="overview">What is Ri3D?</h2>
                                  <p>Robot in 3 Days is a challenge in which collegiate teams rush to build a robot capable of playing the current FRC game in only three days.
                                     Teams begin their build at the end of the game reveal during the kickoff broadcast and must complete their robot in no more than 72 hours.</p>
                                  <p>FAMNM estabilshed its Ri3D team in 2019, and built a robot to compete in the first-ever FIRST Alumni Collegiate Competition, an Ri3D competition hosted
                                     at Kettering's FIRST Robotics Community Center. Competing alongside other Ri3D teams from Michigan State University, Ferris State University,
                                     Grand Valley State University, and Kettering University, the FAMNM Ri3D team managed to wrest their way to victory and claim the <span class="font-weight-bold">first-ever FACC Ri3D trophy!</span></p>
                              </div>
                              <img class="col-md-6 mx-auto" src="{{site.url}}/img/ri3d/2019-winners.jpg"/>
			 </div>
                         <div class="row desc-row text-left">
                             <img class="col-md-6 mx-auto" src="{{site.url}}/img/ri3d/andrew-can-use-rivets.png"/>
                             <div class="col-md-6 desc">
                                 <h2 id="purpose">Why does FAMNM have an Ri3D team?</h2>
                                 <p>Our primary goal is to show new FRC teams the process behind designing and building a robot from the ground up to compete in an FRC competition.
                                    To this end, we aim to extensively document our design and build processes through extensive videotaping and publishing our source code and CAD
                                    files online for teams to view.</p>
                                 <p>FAMNM Ri3D also provides an avenue for University of Michigan students to combine what they learned through FIRST and throughout their college career
                                    and apply it to building an FRC robot.</p>
                             </div>
                         </div>
                         <div class="row desc-row text-left">
                             <div class="col-md-6 desc">
                                 <h2 id="student-involvement">How do I get involved with Ri3D?</h2>
                                 <p>Although it is organized by FAMNM, our Ri3D team is open to all current University Of Michigan (Ann Arbor campus) students.
                                    Membership on the team requires involvement in FAMNM or FAMNM-sponsored activites, attendance during all three days of build,
                                    and attendance in at least one auxiliary event (such as FACC or livestreams). If you have further questions, please email
                                    <a href="mailto:famnm.pd-vp@umich.edu">famnm.pd-vp@umich.edu</a>.</p>
                             </div>
                             <img class="col-md-6 mx-auto" src="{{site.url}}/img/ri3d/2019-team-conf-room.png"/>
                         </div>
                         <div class="row desc-row text-left">
                             <img class="col-md-6 mx-auto" src="{{site.url}}/img/ri3d/sponsor-name-here.jpg"/>
                             <div class="col-md-6 desc">
                                 <h2 id="sponsor">How do I sponsor the FAMNM Ri3D team?</h2>
                                 <p>The FAMNM Ri3D team is currently looking for sponsors! If you would like to sponsor us, please contact
                                    <a href="mailto:famnm.pd-vp@umich.edu">famnm.pd-vp@umich.edu</a> or
                                    <a href="mailto:famnm.treasury-vp@umich.edu">famnm.treasury-vp@umich.edu</a>.</p>
                             </div>
                         </div>
		</div><!-- /.container -->
	</body>
	{% include footer.html %}
    {% include scripts.html %}
</html>
