---
title: FAMNM Core Team | FIRST® Alumni &amp; Mentors Network at Michigan
redirect_from: "/events/ri3d"
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}

    <div class="container">
        <div class="content">
            <h1 class="page-header">2020 M Ri3D Team</h1>

			<div class="row">
			
  			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/vp.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Anuraag Bharadwaj</h4>
			
			        <p class="card-text">
			        	<b>Grad Student: </b> Computer Science <br/>
			        	<i>Just memes</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
   			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Luke Bilby</h4>
			
			        <p class="card-text">
			        	<b>Junior: </b> Mechanical Engineering<br/>
			        	<i>~~~Luke's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/ri3d.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Colin Bott</h4>
			
			        <p class="card-text">
			        	<b>Senior: </b> Mechanical Engineering <br/>
			        	<i>I like robots</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
  			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Strategy</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Jonathan Brandell</h4>
			
			        <p class="card-text">
			        	<b>Freshman: </b> Biomedical Engineering <br/>
			        	<i>~~~Johnathan's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
  			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Programming</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Tyler Brandt</h4>
			
			        <p class="card-text">
			        	<b>Freshman: </b> Computer Science <br/>
			        	<i>~~~Tyler's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
  			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Programming</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Chandra Desai</h4>
			
			        <p class="card-text">
			        	<b>Sophomore: </b>  <br/>
			        	<i>~~~Chan's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>

			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Documentation</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/marketing.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Jade Ebels</h4>
			
     			    <p class="card-text">
			        	<b>Sophomore: </b> Engineering Physics <br/>
			        	<i>~~~Jade's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
  			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Marshall Gaunt</h4>
			
			        <p class="card-text">
			        	<b>Junior: </b> Industrial Operations Engineering <br/>
			        	<i>Alumnus and Mentor for FRC 1684</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Carmen Giger</h4>
			
     			    <p class="card-text">
			        	<b>Sophomore: </b>  <br/>
			        	<i>~~~Carmen's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Programming</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Travis Gurlik</h4>
			
     			    <p class="card-text">
			        	<b>Junior: </b> Computer Science <br/>
			        	<i>Robots? Robots.</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Electrical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Rebecca Jean</h4>
			
     			    <p class="card-text">
			        	<b>Freshman: </b>  <br/>
			        	<i>~~~Rebecca's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Administrative</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/admin.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Amanda Kline</h4>
			
     			    <p class="card-text">
			        	<b>Senior: </b> Computer Science <br/>
			        	<i>I've built my robots, but spreadsheets? I love me some spreadsheets. </i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Rebecca Kowalczyk</h4>
			
     			    <p class="card-text">
			        	<b>Freshman: </b> Mechanical Engineering <br/>
			        	<i>~~~Rebecca's Quote Here~~~ </i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Programming</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Yiliang Liang</h4>
			
     			    <p class="card-text">
			        	<b>Freshman: </b> Computer Science <br/>
			        	<i>Robotics. Eat it. Is good for you. </i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Programming</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Alex Shaw</h4>
			
     			    <p class="card-text">
			        	<b>Freshman: </b> Computer Science <br/>
			        	<i>Robotics. Eat it. Is good for you. </i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Electrical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Timothy Taubitz</h4>
			
     			    <p class="card-text">
			        	<b>Freshman: </b> Electrical Engineering <br/>
			        	<i>Robotics. Eat it. Is good for you. </i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/corporate-michelle.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Michelle Wang</h4>
			
     			    <p class="card-text">
			        	<b>Senior: </b> Mechanical Engineering <br/>
			        	<i>??????????</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="col-md-6 col-lg-4">
			    <div class="card">
			      <span class="notify-badge">Mechanical</span>
			      <img alt="Card image cap" class="card-img-top img-fluid" src="../../img/core/noimg.jpg" />
			      <div class="card-block">
			        <h4 class="card-title">Keyen Yockey</h4>
			
     			    <p class="card-text">
			        	<b>Junior: </b> Mechanical Engineering <br/>
			        	<i>~~~Keyen's Quote Here~~~</i>
		        	</p>
			      </div>
			    </div>
			  </div>
			  
         	</div>
    </div><!-- /.container -->

    {% include footer.html %}
    {% include scripts.html %}
    <!-- Page styles -->
    <style>
		.notify-badge{
		    position: absolute;
		    right:-1.5vw;
		    top:-1.5vw;
		    background:#353942;
		    text-align: center;
		    border-radius: 30px 30px 30px 30px;
		    color:#e9cc06;
		    padding:0.375vw 0.75vw;
		    font-size:1.5vw;
		}
		
		.card-img-top {
		    width: 100%;
		    height: 25vw;
		    object-fit: cover;
		}
		
		.card {
			margin-top:1.5vw
		}
        
    </style>
  </body>
</html>
