---
title: FAMNA Ri3D Team | FIRST® Alumni &amp; Mentors Network at Australia
redirect_from: "/events/ri3d"
people:
    - 0:
        name: "Austin Barkey"
        standing: "Senior"
        major: "Mechanical Engineering"
        quote: "Give me the go ahead. I will make it happen."
        image: "/img/ri3d/team/austin.jpg"
    - 0:
        name: "Anuraag Bharadwaj"
        standing: "Grad Student"
        major: "Computer Science"
        quote: "Have the fruit snacks arrived yet?"
        image: "/img/ri3d/team/anuraag.jpg"
    - 0:
        name: "Luke Bilby"
        standing: "Junior"
        major: "Mechanical Engineering"
        quote: "Do what it takes"
        image: "/img/ri3d/team/luke.jpg"
    - 0:
        name: "Colin Bott"
        standing: "Senior"
        major: "Mechanical Engineering"
        quote: "I like robots"
        image: "/img/ri3d/team/colin.jpg"
    - 0:
        name: "Jonathan Brandell"
        standing: "Freshman"
        major: "Biomedical Engineering"
        quote: "If climate change isn't real, why is Tim so hot?"
        image: "/img/ri3d/team/jon.jpg"
    - 0:
        name: "Tyler Brandt"
        standing: "Freshman"
        major: "Computer Science"
        quote: "Just gimme 5 more minutes"
        image: "/img/ri3d/team/tyler.jpg"
    - 0:
        name: "Chandra Desai"
        standing: "Sophomore"
        major: "Computer Science"
        quote: "Not afraid of godlike opponents, only afraid of pig-like teammates ..."
        image: "/img/ri3d/team/chan.jpg"
    - 0:
        name: "Jade Ebels"
        standing: "Sophomore"
        major: "Engineering Physics"
        quote: "I don't build robots but I'm the reason you know they got built"
        image: "/img/ri3d/team/jade.jpg"
    - 0:
        name: "Marshall Gaunt"
        standing: "Junior"
        major: "Industrial Operations Engineering"
        quote: "Alumnus and Mentor for FRC 1684"
        image: "/img/ri3d/team/marshall.jpg"
    - 0:
        name: "Carmen Giger"
        standing: "Sophomore"
        major: ""
        quote: "Silence."
        image: "/img/ri3d/team/carmen.jpg"
    - 0:
        name: "Travis Gurlik"
        standing: "Junior"
        major: "Computer Science"
        quote: "Robots? Robots."
        image: "/img/ri3d/team/travis.jpg"
    - 0:
        name: "Rebecca Jean"
        standing: "Freshman"
        major: ""
        quote: "Same soup, just reheated"
        image: "/img/ri3d/team/rebeccaj.jpg"
    - 0:
        name: "Amanda Kline"
        standing: "Senior"
        major: "Computer Science"
        quote: "I've built my robots, but spreadsheets? I love me some spreadsheets. "
        image: "/img/ri3d/team/amanda.jpg"		  
    - 0:
        name: "Rebecca Kowalczyk"
        standing: "Freshman"
        major: "Mechanical Engineering"
        quote: "This is why we can't have nice things"
        image: "/img/ri3d/team/rebeccak.jpg"
    - 0:
        name: "Leo Liang"
        standing: "Freshman"
        major: "Computer Science"
        quote: "Robotics. Eat it. Is good for you. "
        image: "/img/ri3d/team/leo.jpg"
    - 0:
        name: "Alex Shaw"
        standing: "Junior"
        major: "Materials Science Engineering"
        quote: "This quote was written using 100% recycled words."
        image: "/img/ri3d/team/alex.jpg"
    - 0:
        name: "Timothy Taubitz"
        standing: "Freshman"
        major: "Electrical Engineering"
        quote: "Gimme guac or take a walk"
        image: "/img/ri3d/team/tim.jpg"
    - 0:
        name: "Michelle Wang"
        standing: "Senior"
        major: "Mechanical Engineering"
        quote: "I'll burn that bridge when I get to it "
        image: "/img/ri3d/team/michelle.jpg"
    - 0:
        name: "Keyen Yockey"
        standing: "Junior"
        major: "Mechanical Engineering"
        quote: "I just eyeballed it"
        image: "/img/ri3d/team/keyen.png"
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>2020 Ri3D Team</h1>
            <h3> Meet FAMNA's 2020 Ri3D Team:</h3>
            
            <div class="row">
                {% for person in page.people %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mt-4">
                        <img alt="Picture of {{ person[0].name }}" class="card-img-top img-fluid w-100" src="{{ person[0].image }}" />
                        <div class="card-block p-4">
                            <h4 class="card-title">{{ person[0].name }}</h4>
                            <p class="card-text">
                                {% if person[0].major == "" %}
                                <b>{{ person[0].standing }}</b><br/>
                                {% else %}
                                <b>{{ person[0].standing }}: </b> {{ person[0].major }} <br/>
                                {% endif %}
                                <i>{{ person[0].quote }}</i>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
    <!-- Page styles -->
    <style>        
        @media (max-width: 800px) {
            .card-img-top {
                height: 100%;
            }
        }
        
        @media (min-width: 801px) {
            .card-img-top {
                height: 25vw;
            }
        }
        
        .card-img-top {
            object-fit: cover;
        }
    </style>
</body>
</html>
