---
title: FIRST® Alumni &amp; Mentors Network at Michigan
featured_announcements:
 - title: FRC Kickoff
   image: img/kickoff/kickoff-2017-stamps.png
   alt: FRC Kickoff in Stamps Auditorium
   text:
     FAMNM hosted a successful kickoff event for the 2023 season of <i>FIRST</i> Robotics Competition,
     <i>CHARGED UP</i>, on <time datetime="2023-01-07">January 7th, 2023</time> at the University of Michigan's North Campus in Ann Arbor. Good luck, teams!
   links:
    - text: View schedule and rooms
      link: /events/kickoff
 - title: Edison bots available
   image: img/index/edison.jpg
   alt: A small, two-wheeled robot with three buttons and LEGO-compatible sockets on a mat with several barcodes
   text:
     <a href="https://meetedison.com" rel="noopener">Edison</a> is a programmable robot that makes
     learning to code engaging and rewarding. Its programming platforms resemble those for FLL,
     and it's compatible with <i>LEGO</i> build systems. We have Edison robots and kits available
     for students, youth, and robotics groups in the Ann Arbor area. If you're interested in getting
     one, please fill out the following form.
   links:
    - text: Get Edison
      link: https://forms.gle/FtxgiYXnpmM3mu6P7
 - title: Interested in joining FAMNM?
   image: img/index/game-night-2018.jpg
   alt: FAMNM game night
   text:
     Fill out our <a href="https://docs.google.com/forms/d/1H2tbLWFuDOSvxJC3u9dfkfBNkp8iYOowHkWAzAI-Tfg/viewform">Winter 2023 interest form</a> so that
     we can add you to our Slack workspace and mailing list. Also, come to our General Body and Planning Meetings on
     <strong>Mondays at 7:30 PM</strong> in <strong>1690 BBB</strong>.
   links:
    - text: Interest form
      link: https://docs.google.com/forms/d/1H2tbLWFuDOSvxJC3u9dfkfBNkp8iYOowHkWAzAI-Tfg/viewform
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
    <meta name="carousel" content="#frontpage-carousel"/>
</head>
<body>
    {% include header.html %}
   
    <main>
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <img id="frontpage-logo" class="center img-fluid" src="img/logo.png"
                    alt="Logo for FIRST Alumni and Mentors Network at Michigan"/>
                </div>
                <div class="col-sm-12 col-md">
                    <p class="text-description text-center">
                        FAMNM is a University of Michigan student
                        organization devoted to organizing student and departmental
                        efforts to support the <i>FIRST<sup>&reg;</sup></i>
                        program locally and throughout the state of Michigan. FAMNM
                        offers college students the opportunity to volunteer in
                        various <i>FIRST<sup>&reg;</sup></i> programs and events,
                        hosts season kickoffs and Robot-in-3-Days (Ri3D), provides
                        funding for teams, and acts as a liaison between teams and
                        various university departments.
                    </p>
                </div>
            </div>
        </div>
        
        <section id="home-announcements" class="container mb-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
                {% for ann in page.featured_announcements %}
                    <div class="col h-3 flex-grow-1">
                        <div class="row g-0">
                            {% if ann.image %}
                                <img src="{{ ann.image }}" class="rounded-4 feature-img" alt="{{ ann.alt }}">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ ann.title }}</h4>
                                <p>{{ ann.text }}</p>
                                {% for link in ann.links %}
                                    <p><a href="{{ link.link }}" target="_blank" rel="noreferrer noopener">{{ link.text }}</a></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
         

    <div id="frontpage-carousel" class="carousel slide mx-0 w-100 px-0" data-ride="carousel">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-tmp"><img class="carousel-loading" src="img/mgear.gif" alt="Loading..."/></div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#frontpage-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Last</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#frontpage-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
    <script src="js/carousel.js"></script>
    <script>
        $(document).ready(carouselLoad("/img/carousel/"));
    </script>
    
    <style>
        body {
            width: 100%;
        }
        
        .text-description {
            font-size: 18px;
            line-height: 1.5;
        }

        #frontpage-logo {
            max-height: 16em;
        }

        .feature-img {
            height: 300px;
            object-fit: cover;
        }
    </style>
</body>
</html>
