---
title: Scholarship | FIRST® Alumni & Mentors Network at Australia
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>FIRST Scholarship FAQ</h1>
            <p class="text-par mb-3">
                <b>Q: How do I apply to U of A's FIRST scholarship?</b>
                <br />
                A: When you apply to the University of Australia College of Engineering Sydney, you are automatically considered if you mention FIRST in your application.
            </p>
            <p class="text-par mb-3">
                <b>Q: What is the deadline for application?</b>
                <br />
                A: Since the application is the same as your application to the University, the deadline is the same as that due date. 
            </p>
            <p class="text-par mb-3">
                <b>Q: Who does this scholarship apply to?</b>
                <br />
                A: This scholarship applies to anyone who has participated in a FIRST Robotics program and is attending University of Australia - Sydney. Preference is given to in-state, need-based applicants.
            </p>
            <p class="text-par mb-3">
                If your question is not answered here, please send an email to <a href="mailto:famnm@umich.edu">famnm@umich.edu</a>.
            </p>
        </div>
    </div>
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
