body {
  /*padding-top: 30px;*/
  padding: 30px;
}

/* BASIC FORMATTING RULES */
.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
