---
title: FIRST® Alumni &amp; Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang='en'>
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <form class='w-50 mx-auto attendance-form'>
        <div class="alert alert-success" role="alert" id="meetingSuccessAlert" style="display: none;">
            Meeting Submitted Successfully!
        </div>
        <div class="alert alert-danger" role="alert" id="meetingFailAlert" style="display: none;">
            Error submitting meeting. Please contact the webmaster for help.
        </div>
        <h1>FAMNM Attendance Form</h1>
        <p>
            <a href="view.html" class="btn famnm-btn-secondary">Click here for Attendance Viewer!</a>
        </p>
        <div class='form-group my-5'>
            <label for='meetingType'>What type of meeting?</label>
            <select class='form-control' id='meetingType'>
                <option>
                    ------
                </option>
            </select>
        </div>
        <div class="my-5">
            <label for='meetingDate'>Today's Date</label>
            <input type='date' id='meetingDate' />
        </div>
        
        <div class="my-5">
            <label for='uniqname'>Attendees</label>
            <br/>
            <input type='text' id='uniqname'>
            <button type='button' class='btn btn-primary' id='addUniqname'>+</button>
            <br/>
            <div id='uniqname-buttons'>
                
            </div>
        </div>
        
        <button type="button" class="btn famnm-btn my-3" data-toggle="modal" data-target="#confirmMeeting" id="confirm">Confirm And Submit</button>
    </form>
    
    <!-- Modal -->
    <div class="modal fade" id="confirmMeeting" tabindex="-1" role="dialog" aria-labelledby="confirmMeetingTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmMeetingTitle">Confirm Submission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalError" style="color:red"></div>
                    <h2>Meeting Details</h2>
                    <p id="modalMeetingType">Meeting Type: </p>
                    <p id="modalDate">Date: </p>
                    <h2>Meeting Attendees</h2>
                    <div id="modalAttendees">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn famnm-btn-secondary" id="closeModal" data-dismiss="modal">Close</button>
                    <button type="button" class="btn famnm-btn submit-meeting" id="submit" data-dismiss="modal">Create Meeting</button>
                </div>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
    {% include scripts.html %}
    <script>
        let attendees = []

        const backend_url = 'https://famnm-website-backend.herokuapp.com/api/v2'

        const convertMeetingTime = (time) => {
            if(time.includes('AM') || time.includes('12')) {
                return time.slice(0, 5);
            } else {
                let hour = parseInt(time.slice(0, 3));
                return `${(hour + 12)}:${time.slice(2, 4)}`;
            }
        }
        
        const validateTime = (start, end) =>{
            return parseInt(start.replace(':', '')) < parseInt(end.replace(':', ''));
        } 

        const enterUniqname = () => {
            const uniqname = $('#uniqname').val()

            if (uniqname.length > 0) {
                let newButton = $('<button></button>');
                newButton.attr('type', 'button');
                newButton.addClass('btn')
                        .addClass('btn-outline-secondary')
                        .addClass('mx-3')
                        .addClass('my-3')
                        .addClass('uniqname-btn');
                newButton.text($('#uniqname').val());
                newButton.click(() => { newButton.remove(); });
                $('#uniqname-buttons').append(newButton);
                $('#uniqname').val('');
            }
        }

        const currentLocalDate = () => {
            let t = new Date();
            
            return new Date(t - t.getTimezoneOffset() * 60 * 1000);
        }
        
        $(() => {
            fetch(backend_url + '/meeting/types')
            .then(response => {
                if (!response.ok) throw Error(response.statusText);
                return response.json();
            }).then(data => {
                data.forEach(type => {
                    let meetingType = $('<option></option>');
                    meetingType.text(type);
                    $('#meetingType').append(meetingType);
                })
            })
            
            $('#meetingDate').attr('value', currentLocalDate().toISOString().slice(0, 10));
            
            $('#uniqname').keypress((e) => {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    enterUniqname();
                }
            });

            $('#addUniqname').click(enterUniqname);
            
            const submitMeeting = () => {
                const meetingDay = new Date();
                meetingDay.setHours(0,0,0,0);
                fetch(backend_url + '/meeting', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify({
                        meetingType: $('#meetingType').children('option:selected').val(),
                        meetingDay: $('#meetingDate').val(),
                        description: $('#meetingDescription').val()
                    })
                }).then( (response) =>{
                    if (!response.ok) throw Error(response.statusText);
                    return response.json();
                }).then( (data) => {
                    const meeting_id = data[0].meeting_id;
                    const uniqname_buttons = $('.uniqname-submit');
                    const uniqnames = uniqname_buttons.map((i, elt) => $(elt).text());
                    uniqnames.toArray().forEach((uniqname) => {
                        fetch(backend_url + 'attendance', {
                            headers: {'Content-Type': 'application/json'},
                            method: 'POST',
                            body: JSON.stringify({
                                uniqname: uniqname,
                                meetingId: meeting_id
                            })
                        }).catch(err => {
                            console.log(err);
                            $('#meetingFailAlert').show();
                        });
                    });
                }).then(() => {
                    $('.attendance-form').trigger('reset');
                    $('#uniqname-buttons').empty();
                    $('#modalError').empty();
                    $('.submit-meeting').attr('disabled', false);
                    $('#meetingSuccessAlert').show();
                    // setTimeout(() => {$('#meetingSuccessAlert').hide();}, 5000);
                }).catch(err => {
                    console.log(err);
                    $('#meetingFailAlert').show();
                });
            }
            
            $('#submit').click(submitMeeting);
            
            $('#closeModal').click(() => {
                $('#modalError').empty();
                $('.submit-meeting').attr('disabled', false);
            })
            
            const disableSubmit = (message) => {
                $('#modalError').append($(`<p>${message}</p>`));
                $('.submit-meeting').attr('disabled', true);
            }
            
            $('#confirm').click(() => {
                enterUniqname();

                const meetingType = $('#meetingType').children('option:selected').val();
                const meetingDate = $('#meetingDate').val();
                const attendees = $('.uniqname-btn').map((i, elt) => $(elt).text()).toArray();

                if (meetingType === '------') {
                    disableSubmit('Meeting type not selected');
                }

                if (attendees.length === 0) {
                    disableSubmit('No attendees');
                }

                if ( new Set(attendees).size !== attendees.length) {
                    disableSubmit('Duplicate attendees');
                }

                $('#modalMeetingType').text(`Meeting Type: ${meetingType}`)
                $('#modalDate').text(`Date: ${meetingDate}`)
                $('#modalAttendees').empty();

                fetch(backend_url + '/meeting/validate', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        meeting_type: meetingType,
                        meeting_date: meetingDate,
                        attendees: attendees
                    })
                }).then(response => {
                    if (!response.ok) throw Error(response.statusText);
                    return response.json();
                }).then(data => {
                    if (data.already_exists) {
                        disableSubmit(`A ${meetingType} meeting has already been recorded on ${meetingDate}`);
                    }

                    const uniqname_buttons = $('.uniqname-btn');
    
                    uniqname_buttons.toArray().forEach(uniqname => {
                        const new_button = $(uniqname).clone();
                        new_button.removeClass('uniqname-btn');
                        new_button.addClass('uniqname-submit');
                        new_button.attr('disabled', true);

                        if (data.new_uniqnames.includes(new_button.text())) {
                            new_button.removeClass('btn-outline-secondary');
                            new_button.addClass('btn-outline-success');
                        }

                        $('#modalAttendees').append(new_button);
                    });
                })
            });
        });
    </script>
</body>
</html>
