---
title: FIRST® Alumni &amp; Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang='en'>
<head>
    {% include title-styles.html %}
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css'>
</head>
<body>
    {% include header.html %}

    
    <form class='w-50 mx-auto attendance-form'>
        <h1>FAMNM Attendance Form</h1>
        <div class='form-group my-5'>
            <label for='meetingType'>What type of meeting?</label>
            <select class='form-control' id='meetingType'>
                <option>
                    ------
                </option>
            </select>
        </div>
        <div class="my-5">
            <label for='meetingDate'>Today's Date</label>
            <input type='date' id='meetingDate' />
        </div>
        <div>
            <label for='meetingStartTime'>Start Time</label>
            <input class='timepicker' id='meetingStartTime'>
            <label for='meetingEndTime'>End Time</label>
            <input class='timepicker' id='meetingEndTime'>
        </div>

        <div class="my-5">
            <label for='meetingDescription'>Meeting Description</label>
            <textarea 
                maxlength=1000 
                required=true
                class='w-100'
                id='meetingDescription'
                placeholder='(Optional) A short description of what happened at the meeting.'></textarea>
        </div>

        <div class="my-5">
            <label for='uniqname'>Enter uniqnames of people at meeting. Hit enter to add person.</label>
            <br/>
            <input type='text' id='uniqname'>
            <br/>
            <div id='uniqname-buttons'>

            </div>
        </div>

        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#confirmMeeting" id="confirm">Confirm And Submit</button>
    </form>
            
    <!-- Modal -->
    <div class="modal fade" id="confirmMeeting" tabindex="-1" role="dialog" aria-labelledby="confirmMeetingTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmMeetingTitle">Confirm Submission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="modalError" style="color:red"></div>
                    <h2>Meeting Details</h2>
                    <p id="modalMeetingType">Meeting Type: </p>
                    <p id="modalStartTime">Start Time: </p>
                    <p id="modalEndTime">End Time: </p>
                    <p id="modalDescription">Description: </p>
                    <h2>Meeting Attendees</h2>
                    <div id="modalAttendees">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submit-meeting" id="submit" data-dismiss="modal">Create Meeting</button>
                </div>
            </div>
        </div>
    </div>

    
    {% include footer.html %}
    {% include scripts.html %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js'></script>
    <script>
        const convertMeetingTime = (time) => {
            if(time.includes('AM') || time.includes('12')) {
                return time.slice(0, 5);
            } else {
                let hour = parseInt(time.slice(0, 3));
                return `${(hour + 12)}:${time.slice(2, 4)}`;
            }
        }

        const validateTime = (start, end) =>{
            return parseInt(start.replace(':', '')) < parseInt(end.replace(':', ''));
        } 

        $(() => {
            fetch('http://backend.famnm.club/meeting_type')
            .then( (response) =>{
                if (!response.ok) throw Error(response.statusText);
                return response.json();
            }).then( (data) => {
                data.map(type => {
                    let meetingType = $('<option></option>');
                    meetingType.text(type.type);
                    $('#meetingType').append(meetingType);
                })
            })

            $('#meetingDate').attr('value', new Date().toISOString().slice(0,10));
            $('#meetingDate').prop('disabled', true);
            
            $('input.timepicker').timepicker({ 
                timeFormat: 'h:mm p',
                minTime: '10:00',
                maxTime: '22:00',
                startTime: '10:00',
                defaultTime: '10:00',
                dropdown: true,
                interval: 30
            });
            
            $('#uniqname').keypress((e) => {
                if (e.keyCode == 13)
                {
                    let newButton = $('<button></button>');
                    newButton.attr('type', 'button');
                    newButton.addClass('btn')
                             .addClass('btn-outline-secondary')
                             .addClass('mx-3')
                             .addClass('my-3')
                             .addClass('uniqname-btn');
                    newButton.text($('#uniqname').val());
                    newButton.click(() => { newButton.remove(); });
                    $('#uniqname-buttons').append(newButton);
                    $('#uniqname').val('');
                }
            });

            const submitMeeting = () => {
                const meetingDay = new Date();
                meetingDay.setHours(0,0,0,0);
                fetch('http://backend.famnm.club/meeting', {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify({
                        meetingType: $('#meetingType').children('option:selected').val(),
                        meetingDay: meetingDay.getTime(),
                        startTime: convertMeetingTime($('#meetingStartTime').val()),
                        endTime: convertMeetingTime($('#meetingEndTime').val()),
                        description: $('#meetingDescription').val()
                    })
                }).then( (response) =>{
                    if (!response.ok) throw Error(response.statusText);
                    return response.json();
                }).then( (data) => {
                    const meeting_id = data[0].meeting_id;
                    const uniqname_buttons = $('.uniqname-submit');
                    const uniqnames = uniqname_buttons.map((i, elt) => $(elt).text());
                    uniqnames.toArray().forEach((uniqname) => {
                        fetch('http://backend.famnm.club/attendance', {
                            headers: {'Content-Type': 'application/json'},
                            method: 'POST',
                            body: JSON.stringify({
                                uniqname: uniqname,
                                meetingId: meeting_id
                            })
                        }).catch(console.log);
                    });
                }).then(() => {
                    $('.attendance-form').trigger('reset');
                    $('#uniqname-buttons').empty();
                    $('#modalError').empty();
                    $('.submit-meeting').attr('disabled', false);
                })
                .catch(console.log);
            }

            $('#submit').click(submitMeeting);

            $('#closeModal').click(() => {
                $('#modalError').empty();
                $('.submit-meeting').attr('disabled', false);
            })

            const disableSubmit = (message) => {
                $('#modalError').append($(`<p>${message}</p>`));
                $('.submit-meeting').attr('disabled', true);
            }

            $('#confirm').click(() => {
                const meetingType = $('#meetingType').children('option:selected').val();
                const startTime = convertMeetingTime($('#meetingStartTime').val());
                const endTime = convertMeetingTime($('#meetingEndTime').val());
                const attendees = $('.uniqname-btn').map((i, elt) => $(elt).text());
                if (meetingType === '------')
                {
                    disableSubmit('Invalid Meeting Type');
                }
                if (!validateTime(startTime, endTime))
                {
                    disableSubmit('Start Time must be before End Time');
                }
                if (attendees.length === 0)
                {
                    disableSubmit('At least one person (you) must attend the meeting');
                }
                if ( new Set(attendees).size !== attendees.length)
                {
                    disableSubmit('You have duplicate attendees');
                }
                $('#modalMeetingType').text(`Meeting Type: ${meetingType}`)
                $('#modalStartTime').text(`Start Time: ${$('#meetingStartTime').val()}`)
                $('#modalEndTime').text(`End Time: ${$('#meetingEndTime').val()}`)
                $('#modalDescription').text(`Meeting Description: ${$('#meetingDescription').val()}`)
                $('#modalAttendees').empty();
                const uniqname_buttons = $('.uniqname-btn');
                uniqname_buttons.toArray().forEach(uniqname => {
                    const new_button = $(uniqname).clone();
                    new_button.removeClass('uniqname-btn');
                    new_button.addClass('uniqname-submit');
                    new_button.attr('disabled', true);
                    $('#modalAttendees').append(new_button);
                });
            });
        });
    </script>
</body>
</html>
