---
title: FIRST® Alumni &amp; Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang='en'>
<head>
    {% include title-styles.html %}
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css'>
</head>
<body>
    {% include header.html %}

    <!-- <form class='w-50 mx-auto attendance-form'>
        <h1>FAMNM Attendance Viewer</h1>
        <div class='form-group my-5'>
            <label for='meetingType'>What type of meeting?</label>
            <select class='form-control' id='meetingType'>
                <option>
                    ------
                </option>
            </select>
        </div>
    </form> -->
    <div style="overflow-x: auto;" class="mx-5">
        <table class="table all-meetings">
            <thead>
                <tr>
                    <th scope="col">Meeting Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Attendees (uniqnames)</th>
                </tr>
            </thead>
            <tbody id="meeting-body">

            </tbody>
        </table>
    </div>
    
    {% include footer.html %}
    {% include scripts.html %}
    <script>
        let monthIdxToString = {
            0: "Jan", 1: "Feb", 2: "Mar", 3: "Apr",
            4: "May", 5: "June", 6: "July", 7: "Aug",
            8: "Sep", 9: "Oct", 10: "Nov", 11: "Dec"
        }
        $(() => {
            fetch("http://backend.famnm.club/meeting")
            .then( (res) => {
                if (!res.ok) throw Error(res.statusText);
                return res.json();
            })
            .then(data => {
                data.sort((a,b) => {
                    const ad = new Date(a.day);
                    const bd = new Date(b.day);

                    if (ad.getTime() === bd.getTime()) {
                        return parseInt(a.start_time.substring(0,2)) < parseInt(b.start_time.substring(0,2));
                    }

                    return ad.getTime() < bd.getTime();
                })
                console.log(data);
                data.forEach(meeting => {

                    fetch(`http://backend.famnm.club/attendance/meeting/${meeting.meeting_id}`)
                    .then(res => {
                        if (!res.ok) throw Error(res.statusText);
                        return res.json();
                    }).then(attendees => {
                        let meetDay = new Date(meeting.day);
                        let newRow = $(`
                        <tr>
                            <th>${monthIdxToString[meetDay.getUTCMonth()]} ${meetDay.getUTCDate()} ${meetDay.getUTCFullYear()}</th>
                            <td>${meeting.type}</td>
                            <td>${meeting.description}</td>
                            <td>${attendees.map(a => a.uniqname).join(", ")}</td>
                        </tr>`);

                    $('#meeting-body').append(newRow);
                    })
                    
                })
            })
            .catch(console.log)
        });
    </script>
</body>
</html>
