<div class="footer row">
    <div class="footer-col col-md-6">
        <a href="{{site.url}}" class="img-link">
                <img id="footer-logo" class="center img-fluid" src="{{site.url}}/img/logo-monochrome-dark.png" alt="FAMNM"/>
        </a>
        <div id="copyright-text">&copy; 2019 <span class="italic">FIRST</span> Alumni and Mentors Network at Michigan</div>
        <p class="social-icons">
            <a href="https://facebook.com/theFAMNM" target="_blank" rel="noreferrer">
                <span class="fab fa-facebook"></span>
            </a>
            <a href="https://twitter.com/theFAMNM" target="_blank" rel="noreferrer">
                <span class="fab fa-twitter"></span>
            </a>
            <a href="https://www.instagram.com/thefamnm/" target="_blank" rel="noreferrer">
                <span class="fab fa-instagram"></span>
            </a>
            <a href="https://www.youtube.com/FAMNM" target="_blank" rel="noreferrer">
                <span class="fab fa-youtube"></span>
            </a>
            <a href="https://twitch.tv/famnm" target="_blank" rel="noreferrer">
                <span class="fab fa-twitch"></span>
            </a>
            <a href="https://photos.app.goo.gl/fs6dKYnxE1ZW5WEE6" target="_blank" rel="noreferrer">
                <span class="fas fa-images"></span>
            </a>
            <a href="https://www.linkedin.com/company/famnm/about" target="_blank" rel="noreferrer">
                <span class="fab fa-linkedin"></span>
            </a>
            <a href="https://github.com/famnm/" target="_blank" rel="noreferrer">
                <span class="fab fa-github"></span>
            </a>
        </p>
        <p  style="font-size: 35px; text-align: center;">
            <a href="mailto:famnm@umich.edu" style="text-decoration: none;">
                <button type="button" class="btn btn-secondary"><span class="fas fa-envelope"></span> Contact us!</button>
            </a>
        </p>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup" class="text-center">
           <form action="https://club.us19.list-manage.com/subscribe/post?u=12cdb3eb2d75450cd140257f5&amp;id=4d94f52b57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="text-center d-flex flex-column">
                    <div>Sign up for the FAMNM monthly newsletter!</div>
                    <div class="mc-field-group input-group text-center mx-auto mt-2" style="width: auto;">
                        <input type="email" value="" placeholder="you@example.com" name="EMAIL" class="required email" id="mce-EMAIL" style="max-width: 70%;">
                        <div class="input-group-append">
                            <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">
                        </div>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_12cdb3eb2d75450cd140257f5_4d94f52b57" tabindex="-1" value=""></div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
    <div class="footer-col col-md-6" style="text-align: center;">
        <span style="font-size: 1.5em;">Sponsors and Affiliates</span>
        <ul>
            <li><a href="https://www.consumersenergy.com/" target="_blank">Consumers Energy</a></li>
            <li><a href="https://www.shell.com/" target="_blank">Shell</a></li>
            <li><a href="https://cedo.engin.umich.edu" target="_blank">Center for Engineering Diversity and Outreach</a></li>
            <li><a href="https://detroitcenter.umich.edu/projects/michigan-engineering-zone" target="_blank">Michigan Engineering Zone</a></li>
            <li><a href="https://engin.umich.edu" target="_blank">University of Michigan College of Engineering</a></li>
            <li><a href="https://esg.engin.umich.edu" target="_blank">Engineering Student Government</a></li>
            <li><a href="https://ginsberg.umich.edu" target="_blank">Edward Ginsberg Center</a></li>
            <li>Germany Ballintyn Education Foundation</li>
        </ul>
    </div>
</div>
