<div class="footer row">
	<div class="footer-col col-md-6">
		<a href="{{site.url}}" class="img-link">
			<img id="footer-logo" class="center img-fluid" src="{{site.url}}/img/logo-monochrome-dark.png" alt="FAMNM"/>
		</a>
		<div id="copyright-text">&copy; 2019 <span class="italic">FIRST</span>&reg; Alumni and Mentors Network at Michigan</div>
                <p class="social-icons">
                    <a href="https://facebook.com/theFAMNM" target="_blank" rel="noreferrer">
                        <span class="fab fa-facebook"></span>
                    </a>
                    <a href="https://twitter.com/theFAMNM" target="_blank" rel="noreferrer">
                        <span class="fab fa-twitter"></span>
                    </a>
                    <a href="https://www.instagram.com/the.famnm/" target="_blank" rel="noreferrer">
                        <span class="fab fa-instagram"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCX8tBxhLFfs_3mZNGgp2UuQ" target="_blank" rel="noreferrer">
                        <span class="fab fa-youtube"></span>
                    </a>
                    <a href="https://twitch.tv/famnm" target="_blank" rel="noreferrer">
                        <span class="fab fa-twitch"></span>
                    </a>
                    <a href="https://www.flickr.com/photos/152238347@N08/" target="_blank" rel="noreferrer">
                        <span class="fab fa-flickr"></span>
                    </a>
                    <a href="https://github.com/famnm/" target="_blank" rel="noreferrer">
                        <span class="fab fa-github"></span>
                    </a>
                </p>
	</div>
	<div class="footer-col col-md-6" style="text-align: center;">
		<span style="font-size: 1.5em;">Sponsors and Affiliates</span>
		<ul>
                        <li><a href="https://www.consumersenergy.com/" target="_blank">Consumers Energy</a></li>
                        <li><a href="https://www.shell.com/" target="_blank">Shell</a></li>
			<li><a href="https://cedo.engin.umich.edu" target="_blank">Center for Engineering Diversity and Outreach</a></li>
                        <li><a href="https://detroitcenter.umich.edu/projects/michigan-engineering-zone" target="_blank">Michigan Engineering Zone</a></li>
                        <li><a href="https://engin.umich.edu" target="_blank">University of Michigan College of Engineering</a></li>
                        <li><a href="https://esg.engin.umich.edu" target="_blank">Engineering Student Government</a></li>
                        <li><a href="https://ginsberg.umich.edu" target="_blank">Edward Ginsberg Center</a></li>
		</ul>
	</div>
</div>
