    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div style="margin: 0 1.5em;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.url}}/index.html">
          	<img alt="FAMNM" src="{{site.url}}/img/icon-brain-monochrome-dark.png"/>
		  </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {% if page.url == "/about/" %} class="active"{% endif %}><a href="{{site.url}}/about/index.html">The FAMNM</a></li>
                    <li {% if page.url == "/about/leadership.html" %} class="active"{% endif %}><a href="{{site.url}}/about/leadership.html">Leadership</a></li>
                    <li {% if page.url == "/about/org-structure.html" %} class="active"{% endif %}><a href="{{site.url}}/about/org-structure.html">Organizational Structure</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.flickr.com/photos/152238347@N08/" target="_blank">Photos</a></li>
                    <li><a href="http://facebook.com/theFAMNM" target="_blank">Facebook</a></li>
                    <li><a href="http://twitter.com/theFAMNM" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/the.famnm/" target="_blank">Instagram</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {% if page.url == "/events/kickoff.html" %} class="active"{% endif %}><a href="{{site.url}}/events/kickoff.html">FRC Kickoff</a></li>
                    <li {% if page.url == "/events/rqb.html" %} class="active"{% endif %}><a href="{{site.url}}/events/rqb.html">Robot Quick Build</a><li>
                    <li {% if page.url == "/events/ftc.html" %} class="active"{% endif %}><a href="{{site.url}}/events/ftc.html">FTC Kickoff</a></li>
                    <li {% if page.url == "/events/famnm-forums.html" %} class="active"{% endif %}><a href="{{site.url}}/events/famnm-forums.html">FAMNM Forums</a></li>
                    <li {% if page.url == "/events/diversity-mixer.html" %} class="active"{% endif %}><a href="{{site.url}}/events/diversity-mixer.html">Diversity Mixer</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAMNM Members<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {% if page.url == "/members/calendar.html" %} class="active"{% endif %}><a href="{{site.url}}/members/calendar.html">Calendar and upcoming events</a></li>
                    <li><a href="https://maizepages.umich.edu/organization/FAMNM" target="_blank">Maize Pages</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Affiliated Teams<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!-- <li {% if page.url == "/teams/mez.html" %} class="active"{% endif %}><a href="{{site.url}}/teams/mez.html">MEZ info</a></li> -->
                    <li {% if page.url == "/teams/resources.html" %} class="active"{% endif %}><a href="{{site.url}}/teams/resources.html">Available Resources</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfWLWTk1T2MULRsCVxPT5RF-DxmBI_6_uUxYjBMGkQFslgk0g/viewform" target="_blank">Mentor and Resource Request Form</a></li>
                    <li {% if page.url == "/teams/freelance.html" %} class="active"{% endif %}><a href="{{site.url}}/teams/freelance.html">Freelance Mentor Program</a></li>
                    <li {% if page.url == "/teams/maker-works.html" %} class="active"{% endif %}><a href="{{site.url}}/teams/maker-works.html">Maker Works</a></li>
                    <!-- <li {% if page.url == "/teams/workshops.html" %} class="active"{% endif %}><a href="{{site.url}}/teams/workshops.html">Workshops</a></li> -->
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li {% if page.url == "/sponsor/member.html" %} class="active"{% endif %}><a href="{{site.url}}/sponsor/member.html">As a U of M Student</a></li>
                    <li {% if page.url == "/sponsor/teams.html" %} class="active"{% endif %}><a href="{{site.url}}/sponsor/teams.html">As a FIRST Team</a></li>
                    <li {% if page.url == "/sponsor/corporate.html" %} class="active"{% endif %}><a href="{{site.url}}/sponsor/corporate.html">As a Corporation</a></li>
                    <li {% if page.url == "/sponsor/orgs.html" %} class="active"{% endif %}><a href="{{site.url}}/sponsor/orgs.html">As a Student Organization</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
