<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-famnm-blue w-100">
    <a class="navbar-brand" href="{{site.url}}/index.html">
        <img alt="FAMNM logo" src="{{site.url}}/img/icon-monochrome-dark.png" height="22" id="navbar-logo"/>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/about/index.html">The FAMNM</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/about/core.html">Core Team</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/about/org-structure.html">Organizational Structure</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://photos.app.goo.gl/fs6dKYnxE1ZW5WEE6" target="_blank" rel="noopener noreferrer">Photos</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="http://facebook.com/theFAMNM" target="_blank" rel="noopener noreferrer">Facebook</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="http://twitter.com/theFAMNM" target="_blank" rel="noopener noreferrer">Twitter</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://www.instagram.com/thefamnm/" target="_blank" rel="noopener noreferrer">Instagram</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://www.youtube.com/channel/UCX8tBxhLFfs_3mZNGgp2UuQ" target="_blank" rel="noopener noreferrer">YouTube</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://twitch.tv/famnm" target="_blank" rel="noopener noreferrer">Twitch</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://www.linkedin.com/company/famnm/about" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/events/frc-offseason.html">FRC Offseason</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/events/kickoff.html">FRC Kickoff</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/events/rqb.html">Robot Quick Build</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/events/ftc-kickoff.html">FTC Kickoff</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/events/ri3d/index.html">Robot in 3 Days</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAMNM Members<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item" >
                        <a class="nav-link" href="{{site.url}}/members/calendar.html">Calendar and upcoming events</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://maizepages.umich.edu/organization/FAMNM" target="_blank" rel="noopener noreferrer">Maize Pages</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSd4LpIMvz3RZQEFp1Aw9h-n0-Ew0yEgZVcrK1-MBDrtVlHCxA/viewform" target="_blank" rel="noopener noreferrer">Freelance Mentor Signup Form</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Local Teams<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/teams/resources.html">Available Resources</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/teams/freelance.html">Freelance Mentor Program</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved<span class="caret"></span></a>
                <ul class="dropdown-menu bg-famnm-blue">
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/sponsor/member.html">As a U of M Student</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/sponsor/corporate.html">As a Corporation or Professional</a>
                    </li>
                    <li class="bg-famnm-blue dropdown-item">
                        <a class="nav-link" href="{{site.url}}/sponsor/orgs.html">As a Student Organization</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{{site.url}}/scholarship.html" class="nav-link">Scholarship</a>
            </li>
            <li class="nav-item">
                <a href="https://forms.gle/W6NytySr1vcd1SfZ6" target="_blank" rel="noopener noreferrer"
                    class="nav-link">
                    Register for Invensity
                </a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>
