---
import Link from "../../components/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Available Resources | FIRST® Alumni & Mentors Network at Michigan">
    <div class="container">
        <main class="content">
            <h1>Resources for Teams</h1>
            <p class="text-par">
                Are you a <i>FIRST<sup>&reg;</sup></i> team looking for resources or mentors?
                You've come to the right place! FAMNM is here to help you 
                by connecting you to U of M students, events, and external resources.
                As our member base is primarily comprised of FIRST alumni,
                we do our best to provide the next generation of FIRST
                students the best experience possible and grow our extensive 
                FIRST FAMNMily!
            </p>
            <p class="text-par">
                Any team that would like to obtain support and resources 
                from FAMNM must become affiliated with FAMNM by working 
                with one of our Coordinators to review and customize a contract.
                This will outline the expectations and responsibilities of 
                both parties so as to ensure that FAMNM is best meeting the
                team's needs and structure. Looking for help? Reach out to the team coordinator for your level of FIRST:
                <a href="mailto:famnm.frc@umich.edu">famnm.frc@umich.edu</a>, 
                <a href="mailto:famnm.ftc@umich.edu">famnm.ftc@umich.edu</a>, or
                <a href="mailto:famnm.fll@umich.edu">famnm.fll@umich.edu</a>.
            </p>
            <p class="text-par" style="margin-bottom: 1.5em;">
                If your team is looking for inspiration, strategic guidance, technical documentation, robotics communities, or useful tools,
                check out our collection of external resources below.
            </p>
            <div class="row justify-content-center mb-4">
                <div class="col col-12 col-lg-6 mx-auto p-2 p-md-3">
                    <Link to="https://famnm.notion.site/8ed1dfac55f24396832423fe40543ba4?v=6e8f1a13b8f649fab8549ed69f175c61" class="btn btn-primary btn-lg">Visit resource collection&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></Link>
                </div>
            </div>
        </main>
    </div>
    <!-- /.container -->
</BaseLayout>