---
title: Support FAMNM as a corporation or professional &#124; FIRST &reg; Alumni &amp; Mentors Network at Michigan
FIRST: <i>FIRST<sup>&reg;</sup></i>
---
{% assign FIRST = page.FIRST %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>

<body>

    {% include header.html %}

    <div class="container">
        <div class="content">
            
            <h1>Supporting FAMNM as a Corporation</h1>
            <img src="{{site.url}}/img/sponsor/corporation.jpg" class="mx-auto col-md-8 col-xs-12"/>
            <p class="text-par">
                Are you a {{ FIRST }} supporter looking to connect to {{ FIRST }}
                Alumni on campus? Often, {{ FIRST }} supporters invest a lot into
                the program but have a hard time finding and recruiting {{ FIRST }}
                alumni. Let FAMNM connect you to our network of {{ FIRST }} alumni
                at the University of Michigan. Contact our Director of 
                Corporate Outreach at <a href="mailto:famnm.corporate@umich.edu">famnm.corporate@umich.edu​</a>.
            </p>

            <h1>Getting Involved as a Professional</h1>
            <p class="text-par">
                Are you interested in mentoring a team or volunteering at an 
                event? Contact our coordinators at the appropriate address:
                <a href="mailto:famnm.frc@umich.edu">famnm.frc@umich.edu​</a> for high school robotics,
                <a href="mailto:famnm.ftc@umich.edu">famnm.ftc@umich.edu​</a> for middle school robotics, 
                <a href="mailto:famnm.fll@umich.edu">famnm.fll@umich.edu​</a> for elementary robotics, and 
                <a href="mailto:famnm.volunteer@umich.edu">famnm.volunteer@umich.edu​</a> to volunteer with us at any level.
            </p>
            
        </div>
    </div><!-- /.container -->

    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
