---
title: Become a Member | FIRST® Alumni & Mentors Network at Michigan
FIRST: <i>FIRST<sup>&reg;</sup></i>
---
{% assign FIRST = page.FIRST %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>Joining FAMNM</h1>
            <p class="text-par">
                FAMNM is open to all University of Michigan students. Our members
                come from many different backgrounds, colleges, and majors, and some
                have never even participated in {{ FIRST }} before! We know
                that as a UofM student, your schedule is tight. FAMNM lets you put as
                much or as little in as you want and works completely around your
                schedule. Signing up is easy! Just join us on <a
                href="https://maizepages.umich.edu/organization/FAMNM">Maize Pages</a>
                and we'll get in touch.
            </p>
            
            <p class="text-par">
                If you have any questions, feel free to send
                them to <a href="mailto:famnm.admin@umich.edu">famnm.admin@umich.edu</a>
            </p>
            
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab"
                    href="#members">General Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                    href="#mentors">Mentors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"
                    href="#volunteers">Volunteers</a>
                </li>
            </ul>
            <div class="tab-content text-par img-fluid mx-auto">
                <div id="members" class="tab-pane fade in active show">
                    <img class="my-3" src="../img/sponsor/general.jpg"/>
                    General members assist FAMNM operationally. 
                    We encourage members to attend our biweekly
                    General Body Meetings to stay updated about 
                    what FAMNM is up to. Want to help FAMNM 
                    continue to grow and improve? Join one (or
                    several) of our committees!
                </div>
                <div id="mentors" class="tab-pane fade">
                    <img class="my-3" src="../img/sponsor/mentor.jpg"/>
                    FAMNM helps match local teams and
                    potential mentors. You can choose 
                    to help a team full time, or 
                    participate in the Freelance Mentor program, providing
                    assistance to teams on an as needed basis only.
                </div>
                <div id="volunteers" class="tab-pane fade">
                    <img class="my-3" src="../img/sponsor/volunteer.jpg"/>
                    Every year, FAMNM sends volunteers
                    to FIRST events across the state of
                    Michigan and beyond! We'll do our best to 
                    make sure you can get to all the events of
                    your choosing. Volunteers serving in key 
                    roles are eligible to be reimbursed for 
                    some travel costs!
                </div>
            </div>
        </div>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
