---
title: Become a Member | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>

  <body>
  
  	{% include header.html %}

    <div class="container">

    <div class="content">
        <div class="page-header">
          <h1>Joining FAMNM</h1>
        </div>
        <p class="text-par">FAMNM is open to all University of Michigan students. Our members
        come from many different backgrounds, colleges, and majors, and some
        have never even participated in <i>FIRST<sup>®</sup></i> before! We know
        that as a UofM student, your schedule is tight. FAMNM lets you put as
        much or as little in as you want and works completely around your
        schedule. Signing up is easy! Just join us on <a
        href="https://maizepages.umich.edu/organization/FAMNM">Maize Pages</a>
        and we'll get in touch.</p>

        <p class="text-par">If you have any questions, feel free to send
          them to <a
          href="mailto:famnm.secretary@umich.edu">famnm.secretary@umich.edu</a></p>

        <h2>Membership</h2>

        <p>Roll over an image for more details!</p>

        <div class="membership row">
          <div class="col-md-4">
              <h3>Volunteers</h3>
              <div class="img-blur-container">
                <img class="recruit center" src="../img/sponsor/volunteer.jpg">
                <div class="img-overlay">
                  <span class="overlay-text">Every year, FAMNM sends volunteers
                  to <i>FIRST<sup>®</sup></i> events across the state of
                  Michigan and beyond! We'll do our best to make sure you can
                  you get to the event of your choice. Volunteers serving in key
                  roles are eligible to be reimbursed for some travel costs! 
                    </span>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <h3>General Members</h3>
            <div class="img-blur-container">
              <img class="recruit" src="../img/sponsor/general.jpg">
              <div class="img-overlay">
                <span class="overlay-text">General members assist FAMNM
                operationally. We encourage members to attend our biweekly
                General Body Meetings to stay updated about what FAMNM is up to.
                Want to help FAMNM continue to grow and improve? Join one (or
                several) of our committees!
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>Mentors</h3>
            <div class="img-blur-container">
              <img class="recruit center" src="../img/sponsor/mentor.jpg">
              <div class="img-overlay">
                <span class="overlay-text">FAMNM helps match local teams and
                potential mentors. You can choose to help a team full time, or
                participate in the Freelance Mentor program, providing
                assistance to teams on an as needed basis only.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

	{% include footer.html %}
	{% include scripts.html %}
  </body>
</html>
