---
title: Partner With Us | FIRST® Alumni & Mentors Network at Australia
events:
    - 0:
        time: "August"
        name: "FRC Offseason"
        location: "Area high school"
        grades: "6-12"
        training: "None"
        commitment: "1 or 2 days"
    - 0:
        time: "Early September"
        name: "FTC Kickoff"
        location: "North Campus"
        grades: "6-8"
        training: "<a href='https://childrenoncampus.umich.edu' target='_blank' rel='noopener noreferrer'>Children on Campus</a>"
        commitment: "½ day"
    - 0:
        time: "Early January"
        name: "FRC Kickoff"
        location: "North Campus"
        grades: "9-12"
        training: "<a href='https://childrenoncampus.umich.edu' target='_blank' rel='noopener noreferrer'>Children on Campus</a>"
        commitment: "1 day"
    - 0:
        time: "Early January"
        name: "FRC Quickbuild"
        location: "North Campus"
        grades: "9-12"
        training: "<a href='https://childrenoncampus.umich.edu' target='_blank' rel='noopener noreferrer'>Children on Campus</a>. Some FIRST, robotics, mechanical, electrical, or CS background is advised"
        commitment: "1 day"
    - 0:
        time: "January - April"
        name: "FRC Mentoring"
        location: "Area High Schools"
        grades: "9-12"
        training: "FAMNA Mentor Training. Some FIRST, robotics, mechanical, electrical, or CS background is advised."
        commitment: "Minimum 8 hours a week for the winter semester"
    - 0:
        time: "March - April"
        name: "FRC Volunteering"
        location: "Australia highschools and colleges"
        grades: "9-12"
        training: "None, though some roles require FIRST certification"
        commitment: "All Day Friday & Saturday"
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
    <title>{{page.title}}</title>
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>Supporting FAMNA as a Student Organization</h1>
            <h2>Partner for Volunteer Hours</h2>
            <p class="text-par">FAMNA hosts and participates in a variety of on and off
                campus events throughout the school year. If your members are having
                difficulty completing volunteer hour requirements, or are looking for
                STEM-focused volunteer opportunities, reach out to
                <a href="mailto:famnm.vp@umich.edu">famnm.vp@umich.edu</a>.
                FAMNA supports both long-term volunteering partnerships and one-time
                events. The table below contains an approximate timeline for some of
                our major events, though by no means is it complete. Please note
                that all volunteers at FAMNA events are required to have completed
                a university background check and the minors on campus training.
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                            <!-- <th scope="col">Grade Level</th> -->
                            <th scope="col">Training Level</th>
                            <th scope="col">Estimated Commitment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in page.events %}
                        <tr>
                            <td>{{ event[0].time }}</td>
                            <td>{{ event[0].name }}</td>
                            <td>{{ event[0].location }}</td>
                            <!-- <td>{{ event[0].grades }}</td> -->
                            <td>{{ event[0].training }}</td>
                            <td>{{ event[0].commitment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <h2>Middle and High School Outreach Opportunities FIRST Robotics Students</h2>
            <p class="text-par">
                FAMNA’s on and off campus events are great places to
                interact with future wolverines, their families, and the Ann Arbor
                Robotics community. All of our north campus events are great places
                to demo your team’s project to enthusiastic students or set up a table
                to engage your target communities. Most of these events fall between
                August and January, contact <a href="mailto:famnm.vp@umich.edu">famnm.vp@umich.edu</a>
                for the current dates.
            </p>
            
            <h2>Connect with the College of Engineering Community</h2>
            <p class="text-par">FAMNA enthusiastically participates in a number of College
                of Engineering community-building events. Join us for the CoE Diversity
                Mixer, listen to other organization’s stories with us at DEI-focused
                symposiums, learn about the Ginsberg Center’s sponsored organization’s
                efforts at their annual poster session, and more. Again,
                <a href="mailto:famnm.vp@umich.edu">famnm.vp@umich.edu</a> has the
                scoop on our on-campus community events.
            </p>
        </div>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
