---
title: Partner With Us | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include title-styles.html %}
    <title>{{page.title}}</title>
    <style>
        .table-wrap {
            width: 100%;
            overflow: auto;
            border: 1px solid #cdcdcd;
            border-radius: 7px;
            padding: 2vh;
            margin: 2vh;
        }

        tr {
            border: 1px solid #cdcdcd;
        }

        td {
            padding: 1vh;
        }
    </style>
</head>

<body>
    {% include header.html %}
    <div class="container">
        <div class="content">
            <h1 class="page-header">Supporting FAMNM as a Student Organization</h1>
            <h2>Partner for Volunteer Hours</h2>
            <p class="text-par">FAMNM hosts and participates in a variety of on and off
                campus events throughout the school year. If your members are having
                difficulty completing volunteer hour requirements, or are looking for
                STEM-focused volunteer opportunities, reach out to
                <a href="mailto:famnm.vp@umich.edu">famnm.vp@umich.edu</a>.
                FAMNM supports both long-term volunteering partnerships and one-time
                events. The table below contains an approximate timeline for some of
                our major events, though by no means is it complete. Please note
                that all volunteers at FAMNM events are required to have completed
                a university background check and the minors on campus training.
            </p>
            <div class="table-wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                            <th scope="col" style="min-width: auto;">Grade Level</th>
                            <th scope="col">Training Level</th>
                            <th scope="col">Commitment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="margin-right: 3vw; margin-left: 3vw;">August</td>
                            <td>FRC Offseason</td>
                            <td>Area high school</td>
                            <td>6-12</td>
                            <td>None</td>
                            <td>1 or 2 days</td>
                        </tr>

                        <tr>
                            <td>Early September</td>
                            <td>FTC Kickoff</td>
                            <td>North Campus</td>
                            <td>6-8</td>
                            <td>Minors on Campus</td>
                            <td>½ day</td>
                        </tr>

                        <tr>
                            <td>Late October - Early November</td>
                            <td>FAMNM Robotics Day</td>
                            <td>North Campus</td>
                            <td>6-12</td>
                            <td>Minors on Campus</td>
                            <td>½ day</td>
                        </tr>

                        <tr>
                            <td>Early January</td>
                            <td>FRC Kickoff</td>
                            <td>North Campus</td>
                            <td>9-12</td>
                            <td>Minors on Campus</td>
                            <td>1 day</td>
                        </tr>

                        <tr>
                            <td>Early January</td>
                            <td>FRC Quickbuild</td>
                            <td>North Campus</td>
                            <td>9-12</td>
                            <td>
                                Minors on Campus. Some FIRST, robotics, mechanical, electrical, or CS background is
                                advised
                            </td>
                            <td>1 day
                            </td>
                        </tr>

                        <tr>
                            <td>January - April</td>
                            <td>FRC Mentoring</td>
                            <td>Area High Schools</td>
                            <td>9-12</td>
                            <td>FAMNM Mentor Training. Some FIRST, robotics, mechanical, electrical, or CS background is
                                advised.</td>
                            <td>Minimum 8 hours a week for the winter semester</td>
                        </tr>

                        <tr>
                            <td>March - April</td>
                            <td>FRC Volunteering</td>
                            <td>Michigan highschools and colleges</td>
                            <td>9-12</td>
                            <td>None, though some roles require FIRST certification</td>
                            <td>All Day Friday & Saturday</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <h2>Middle and High School Outreach Opportunities FIRST Robotics Students</h2>
            <p class="text-par">FAMNM’s on and off campus events are great places to
                interact with future wolverines, their families, and the Ann Arbor
                Robotics community. All of our north campus events are great places
                to demo your team’s project to enthusiastic students or set up a table
                to engage your target communities. Most of these events fall between
                August and January, contact <a href="mailto:famnm.vp@umich.edu">
                    famnm.vp@umich.edu</a> for the current dates.
            </p>

            <h2>Connect with the College of Engineering Community</h2>
            <p class="text-par">FAMNM enthusiastically participates in a number of College
                of Engineering community-building events. Join us for the CoE Diversity
                Mixer, listen to other organization’s stories with us at DEI-focused
                symposiums, learn about the Ginsberg Center’s sponsored organization’s
                efforts at their annual poster session, and more. Again,
                <a href="mailto:famnm.vp@umich.edu">famnm.vp@umich.edu</a> has the
                scoop on our on-campus community events.
            </p>
        </div>
    </div><!-- /.container -->
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>