---
title: Affiliate with Us | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
    <script src="../js/web-encapsulation.js"></script>
    <style>
      .contact-logo {
        max-width: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media(max-width: 767px) {
        .contact-logo {
          max-width: 100%;
        }
      }
    </style>
  </head>

  <body>
  	{% include header.html %}

    <div class="container">

     <div class="content">
     	<h1 class="page-header">Affiliate with us</h1>

		<p class="text-par">Are you a <span class="italic">FIRST</span>&reg; team looking for resources or mentors? You've come to the right place!
			FAMNM is here to help you by connecting you to U of M students, machinery, and opportunities.
			As our member base is primarily comprised of <span class="italic">FIRST</span>&reg; alumni,
			we do our best to provide the next generation of <span class="italic">FIRST</span>&reg; students the best experience possible
			and grow our extensive <span class="italic">FIRST</span>&reg; FAMNMily!</p>

  <p class="text-par" style="margin-bottom: 1.5em;">Any team that would like to obtain support and resources from FAMNM must become affiliated with FAMNM by working with one of our Coordinators to review and customize a contract.
      This will outline the expectations and responsibilities of both parties so as to ensure that FAMNM is best meeting the team’s needs and structure.</p>
      
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#frc"><span class="italic">FIRST</span>&reg; Robotics Competition</a></li>
    <li><a data-toggle="tab" href="#ftc"><span class="italic">FIRST</span>&reg; Tech Challenge</a></li>
    <li><a data-toggle="tab" href="#fll"><span class="italic">FIRST</span>&reg; Lego League</a></li>
  </ul>

  <div class="tab-content">
    <div id="frc" class="tab-pane fade in active">
      <img class="center contact-logo" src="../img/teams/FRC-Demos.jpg" alt="FIRST Robotics Competition">
        <p><p>For our FRC teams, we can help provide water jet access here at U of M, and mentor support throughout the build and competition season.</p>
        <p>Interested? Email our head FRC Coordinator Colin Bott at <a href="mailto:famnm.frc-coord@umich.edu">famnm.FRC­-coord@umich.edu​</a> to get connected.</p>
    </div>
    <div id="ftc" class="tab-pane fade">
      <img class="center contact-logo" src="../img/teams/FTC-Kickoff.jpg" alt="FIRST Tech Challenge">
            <p>Currently, we are working on building our team relations within this division of FIRST, and do not have any resources available for support.
        		However, as our organization grows we plan to expand our outreach to FTC teams as well.</p>
        		<p>Interested in getting involved? Email our FTC Coordinator Alan Stahl at <a href="mailto:famnm.ftc-coord@umich.edu">famnm.ftc­-coord@umich.edu​</a> to get connected.</p>
    </div>
    <div id="fll" class="tab-pane fade">
      <img class="center contact-logo" src="../img/teams/FLL-TrashTrek.jpg" alt="FIRST Lego League">
      <p>With FLL, we are working on building team relationships, and are currently only providing mentor support for teams in our area.</p>
      <p>Interested? Email our FLL Coordinator Zoe Espinosa at ​<a href="mailto:famnm.fll-coord@umich.edu">famnm.FLL-­coord@umich.edu</a> to get connected.</p>
    </div>
  </div>
</div>
</div><!-- /.container -->

	{% include footer.html %}
	{% include scripts.html %}
  </body>
</html>
