---
title: Affiliate with Us | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page-common.html %}
    <script src="../js/web-encapsulation.js"></script>
  </head>

  <body>
  	{% include header.html %}

    <div class="container">

     <div class="content">
     	<h1>Affiliate with us</h1>
        <!-- <blockquote style="text-align: left;">Welcome to FAMNM!<br/>
        /'fam/<br/>
        <span class="italic">noun</span><br/>
        1. A student organization at the University of Michigan designed to get students on campus involved in <span class="italic">FIRST</span>&reg;,
			as well as support local <span class="italic">FIRST</span>&reg; teams and students in the Ann Arbor area.</blockquote> -->

    <div class="well">
		<p>Are you a <span class="italic">FIRST</span>&reg; team looking for resources or mentors? You've come to the right place!
			FAMNM is here to help you by connecting you to U of M students, machinery, and opportunities.
			As our member base is primarily comprised of <span class="italic">FIRST</span>&reg; alumni,
			we do our best to provide the next generation of <span class="italic">FIRST</span>&reg; students the best experience possible
			and grow our extensive <span class="italic">FIRST</span>&reg; FAMNMily!</p>

		<p>Any team that would like to obtain support and resources from FAMNM must become affiliated with FAMNM by working with one of our Coordinators to review and customize a contract.
			This will outline the expectations and responsibilities of both parties so as to ensure that FAMNM is best meeting the team’s needs and structure.</p>

    <p><a a href="https://docs.google.com/a/umich.edu/forms/d/e/1FAIpQLSfWLWTk1T2MULRsCVxPT5RF-DxmBI_6_uUxYjBMGkQFslgk0g/viewform" onclick="openInModal(event, 'Team Resource Request Form')" class="btn btn-primary">Connect with us!</a></p>
  </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseFRC">FRC</a>
          </h4>
        </div>
        <div id="collapseFRC" class="panel-collapse collapse">
          <div class="panel-body">
            <p><p>For our FRC teams, we can help provide water jet access here at U of M, and mentor support throughout the build and competition season.</p>
    		    <p>Interested? Email our head FRC Coordinator Colin Bott at <a href="mailto:famnm.frc-coord@umich.edu">famnm.FRC­-coord@umich.edu​</a> to get connected.</p></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseFTC">FTC</a>
          </h4>
        </div>
        <div id="collapseFTC" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Currently, we are working on building our team relations within this division of FIRST, and do not have any resources available for support.
        		However, as our organization grows we plan to expand our outreach to FTC teams as well.</p>
        		<p>Interested in getting involved? Email our FTC Coordinator Alan Stahl at <a href="mailto:famnm.ftc-coord@umich.edu">famnm.ftc­-coord@umich.edu​</a> to get connected.</p>
        </div>
      </div>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseFLL">FLL</a>
          </h4>
        </div>
        <div id="collapseFLL" class="panel-collapse collapse">
          <div class="panel-body">
            <p>With FLL, we are working on building team relationships, and are currently only providing mentor support for teams in our area.</p>
        		<p>Interested? Email our FLL Coordinator Zoe Espinosa at ​<a href="mailto:famnm.fll-coord@umich.edu">famnm.FLL-­coord@umich.edu</a> to get connected.</p>
          </div>
        </div>
      </div>
    </div>
		<br/>
		<p>For any other questions or inquiries please contact our Head Coordinator Spencer Marshall at ​<a href="mailto:famnm.head-coord@umich.edu">famnm.head-­coord@umich.edu​</a>
			or our President Ellen Green at <a href="mailto:famnm.pres@umich.edu">famnm.pres@umich.edu​</a>.</p>
      </div>
    </div><!-- /.container -->

	{% include scripts-common.html %}
  </body>
</html>
