---
title: FAMNM Core Team | FIRST® Alumni &amp; Mentors Network at Michigan
people:
    - 0:
        name: "Nick Eidsmoe"
        email: "famnm.pres"
        img: "pres.png"
        role: "President"
    - 0:
        name: "Jade Ebels"
        email: "famnm.vp"
        img: "vp.jpg"
        role: "Vice President"
    - 0:
        name: "Brighton Pauli"
        email: "famnm.admin"
        img: "admin.jpg"
        role: "Director of Internal Affairs"
    - 0:
        name: "Rebecca Jean"
        email: "famnm.projects"
        img: "projects.jpg"
        role: "Director of Project Development"
    - 0:
        name: "Rebecca Kowalczyk"
        email: "famnm.corporate"
        img: "corporate.jpg"
        role: "Director of Corporate Outreach"
    - 0:
        name: "Chandra Desai"
        email: "famnm.treasurer"
        img: "treasurer.jpg"
        role: "Treasurer"
    - 0:
        name: "Tim Taubitz"
        email: "famnm.marketing"
        img: "market.jpg"
        role: "Director of Marketing"
    - 0:
        name: "Carmen Giger"
        email: "famnm.volunteer"
        img: "volunteer.jpg"
        role: "Volunteer Coordinator"
    - 0:
        name: "Camber Hortop"
        email: "famnm.frc"
        img: "frc.png"
        role: "FRC Coordinator"
    - 0:
        name: "Nathan Satterfield"
        email: "famnm.ftc"
        img: "ftc_fll_nathan.jpeg"
        role: "FTC and FLL Co-Coordinator"
    - 0:
        name: "Gabe Meyerson"
        email: "famnm.fll"
        img: "ftc_fll_gabe.jpeg"
        role: "FTC and FLL Co-Coordinator"
    - 0:
        name: "Eashwar Mohan"
        email: "famnm.webmaster"
        img: "webmaster.jpg"
        role: "Webmaster"
    - 0:
        name: "Rebecca Jean"
        email: "famnm.kickoff"
        img: "projects.jpg"
        role: "Kickoff Coordinator"
    - 0:
        name: "Alex Shaw"
        email: "famnm.ri3d"
        img: "ri3d.jpg"
        role: "Ri3D Coordinator"
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <h1>FAMNM Core Team 2019-2020</h1>
            <p class="text-center">All FAMNM Core Team members can be reached at <a href="mailto:famnm.core@umich.edu">famnm.core@umich.edu</a>.</p>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 d-flex justify-content-center">
                {% for person in page.people %}
                <div class="col-mb-4 mx-3 my-3">
                    <div class="card"><a href="mailto:{{ person[0].email }}@umich.edu">
                        <img src="../img/core/{{ person[0].img }}" class="card-img-top headshot" alt="Picture of {{ person[0].name }}, the {{ person[0].role }} of FAMNM." title="{{ person[0].name }}"/>
                        <div class="card-body px-1">
                            <h5 class="card-title mb-0">{{ person[0].role }}</h5>
                            <p class="card-text mb-0">{{ person[0].name }}</p>
                            <p class="card-text">{{ person[0].email }}@umich.edu</p>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
    <!-- Page styles -->
    <style>
        /** Leadership display list **/
        .headshot {
            object-fit: cover;
            height: 325px;
            width: 250px;
        }
        
        .card {
            width: 250px;
            height: 100%;
        }
        
        .card > a {
            color: #3b8ac3;
        }
        
        .card > a:hover {
            text-decoration: none;
            color: #003368;
        }
    </style>
</body>
</html>
