---
title: About The FAMNM | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
    <style>
    	ul#sponsors {
    		padding-left: 0;
    		list-style-type: none;
    	}
    	ul#sponsors > li {
    		display: inline-block;
    		margin: 10px;
    	}
    	
    	ul#sponsors > li > a {
    		display: block;
    		padding: 5px;
    		color: inherit;
    		text-decoration: none;
    	}
    	
    	ul#sponsors > li:hover > a {
    		background-color: #cccccc;
    	}
    	
    	ul#sponsors > li > a > img {
    		max-width: 300px;
    		max-height: 150px;
    	}
    </style>
  </head>

  <body>

    {% include header.html %}

    <div class="container">

     <div class="content">
        <img class="center" src="{{site.url}}/img/logo.png"/>
        <h1>About</h1>
			<p class="lead text-par">FAMNM is an on campus effort to unite all of the various departmental and individual student efforts of supporting the <i>FIRST<sup>®</sup></i> program locally and throughout the state of Michigan.
          		We act as a liaison between local <i>FIRST<sup>®</sup></i> teams, the University of Michigan, and any other organizations that are affiliated with either of the prior organizations stated (such as MEZ, WISE, Maker Works and the Fab Lab).
          		FAMNM aims to support the <i>FIRST<sup>®</sup></i> teams with funds, volunteers, University resources, and publicity, with the ultimate goal of strengthening the relationship between the University and <i>FIRST<sup>®</sup></i> programs.</p>

         	<p class="lead text-par">FAMNM will also act as a collegiate network for both <i>FIRST<sup>®</sup></i> Alumni and University of Michigan students who volunteer with and support <i>FIRST<sup>®</sup></i> teams.
          		The organization aims to provide professional development opportunities including but not limited to resume critiquing, mock interviews, and corporate recruiting events.</p>
        
        <h1>Sponsors</h1>
        <ul id="sponsors">
        	<li><a href="http://cedo.engin.umich.edu" target="_blank"><img src="{{site.url}}/img/sponsor/cedo.png" alt="Center for Engineering Diversity and Outreach"/></a></li>
            <li><a href="http://detroitcenter.umich.edu/projects/michigan-engineering-zone" target="_blank"><img src="{{site.url}}/img/sponsor/mez.png" alt="Michigan Engineering Zone"/></a></li>
            <li><a href="http://maker-works.com" target="_blank"><img src="{{site.url}}/img/sponsor/makerworks.png" alt="Maker Works"/></a></li>
            <li><a href="http://engin.umich.edu" target="_blank"><img src="{{site.url}}/img/sponsor/coe.png" alt="University of Michigan College of Engineering"/></a></li>
            <li><a href="http://esg.engin.umich.edu" target="_blank"><img src="{{site.url}}/img/sponsor/esg.png" alt="Engineering Student Government"/></a></li>
        </ul>
      </div>
    </div><!-- /.container -->
	
	{% include footer.html %}
    {% include scripts.html %}

  </body>
</html>
