---
title: Leadership | FIRST® Alumni &amp; Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../css/leadership.css" rel="stylesheet">
    {% include title-styles.html %}
  </head>

  <body>

  	{% include header.html %}

    <div class="container">
    	<div class="content">
    		<h1 class="page-header">FAMNM Leadership 2018-2019</h1>
    		<ul class="member-display">
    			<li><a href="mailto:famnm.pres@umich.edu">
    				<span class="img-contain"><img src="../img/leadership/pres.jpg" alt="Zoe Espinosa" title="Zoe Espinosa"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">President</span> &bullet; Zoe Espinosa
    					<span style="display: block;">famnm.pres@umich.edu</span>
    				</span>
    			</a></li>
    			<li><a href="mailto:famnm.secretary@umich.edu">
    				<span class="img-contain"><img src="../img/leadership/sec.jpg" alt="Amanda Kline" title="Amanda Kline"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">Secretary</span> &bullet; Amanda Kline
    					<span style="display: block;">famnm.secretary@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.u-l@umich.edu">
					<span class="img-contain"><img src="../img/leadership/univ-liaison.png" alt="Michael Olmsted" title="Michael Olmsted"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">University Liaison</span> &bullet; Michael Olmsted
    					<span style="display: block;">famnm.u-l@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.pd-vp@umich.edu">
					<span class="img-contain"><img src="../img/leadership/vp-pd.jpg" alt="Austin Barkey" title="Austin Barkey"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">VP of Project Development</span> &bullet; Austin&nbsp;Barkey
    					<span style="display: block;">famnm.pd-vp@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.co-vp@umich.edu">
					<span class="img-contain"><img src="../img/leadership/vp-co.png" alt="Nick Eidsmoe" title="Nick Eidsmoe"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">VP of Corporate Outreach</span> &bullet; Nick&nbsp;Eidsmoe
    					<span style="display: block;">famnm.co-vp@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.treasury-vp@umich.edu">
					<span class="img-contain"><img src="../img/leadership/vp-treasury.png" alt="Eashwar Mohan" title="Eashwar Mohan"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">VP of Treasury</span> &bullet; Eashwar Mohan
    					<span style="display: block;">famnm.treasury-vp@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.maco-vp@umich.edu">
					<span class="img-contain"><img src="../img/leadership/noimg.png" alt="Michelle Wang" title="Michelle Wang"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">VP of Marketing and Campus Outreach</span> &bullet; Michelle Wang
    					<span style="display: block;">famnm.maco-vp@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.head-coord@umich.edu">
					<span class="img-contain"><img src="../img/leadership/head-coord.jpg" alt="Colin Bott" title="Colin Bott"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">Head Coordinator</span> &bullet; Colin Bott
    					<span style="display: block;">famnm.head-coord@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.volunteer-coord@umich.edu">
					<span class="img-contain"><img src="../img/leadership/volun-coord.jpg" alt="Matt Malinak" title="Matt Malinak"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">Volunteer Coordinator</span> &bullet; Matt&nbsp;Malinak
    					<span style="display: block;">famnm.volunteer-coord@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.FRC-coord@umich.edu">
					<span class="img-contain"><img src="../img/leadership/noimg.png" alt="Alan Stahl" title="Alan Stahl"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">FRC Coordinator</span> &bullet; Alan Stahl
    					<span style="display: block;">famnm.FRC-coord@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.FTC-coord@umich.edu">
					<span class="img-contain"><img src="../img/leadership/ftc-coord.jpg" alt="Travis Gurlik" title="Travis Gurlik"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">FTC Coordinator</span> &bullet; Travis Gurlik
    					<span style="display: block;">famnm.FTC-coord@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.FLL-coord@umich.edu">
					<span class="img-contain"><img src="../img/leadership/fll-coord.jpg" alt="Allison Wilcox" title="Allison Wilcox"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">FLL Coordinator</span> &bullet; Allison Wilcox
    					<span style="display: block;">famnm.FLL-coord@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.mw-liaison@umich.edu">
					<span class="img-contain"><img src="../img/leadership/mw-liaison.jpg" alt="Alex Shaw" title="Alex Shaw"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">Maker Works Liaison</span> &bullet; Alex Shaw
    					<span style="display: block;">famnm.mw-liaison@umich.edu</span>
    				</span>
				</a></li>
				<li><a href="mailto:famnm.mez-liaison@umich.edu">
					<span class="img-contain"><img src="../img/leadership/mez-liaison.jpg" alt="Anuraag Bharadwaj" title="Anuraag Bharadwaj"/></span>
    				<span class="leadership-overlay">
    					<span class="bold">MEZ Liaison</span> &bullet; Anuraag Bharadwaj
    					<span style="display: block;">famnm.mez-liaison@umich.edu</span>
    				</span>
				</a></li>
    		</ul>
     	</div>
    </div><!-- /.container -->

	{% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
