---
title: Organizational Structure | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>

  <body>

    {% include header.html %}

    <div class="container">

     <div class="content">
        <h1>The <i>FIRST<sup>®</sup></i> Alumni Mentors Network at Michigan</h1>
        <h1>Committees</h1>
        <h3>Project Development</h3>
        <p class="lead">The Project Development committee is responsible for organizing events on campus for <i>FIRST<sup>®</sup></i> teams,
        	including our annual Kickoff events, FAMNM Forums, and Rookie Quick Build. Additionally, this committee spearheads new programming for FAMNM as a whole.</p>
        <h3>Treasury</h3>
        <p class="lead">The Treasury Committee is primarily responsible for creating and maintaining a budget,
        	organizing fundraising events and finding sponsorship within the University. The committee is also responsible for organizing donations to <i>FIRST<sup>®</sup></i> teams,
        	as well as maintaining the <i>FIRST<sup>®</sup></i> Scholarship at U of M.</p>
        <h3>Marketing and Campus Outreach</h3>
        <p class="lead">The Marketing and Campus Outreach Committee is responsible for maintaining and updating social media accounts, recruiting new members,
        	and advertising the organization and its events. The committee is also in charge of planning social events for FAMNM.</p>
        <h3>Corporate Outreach</h3>
        <p class="lead">The Corporate Outreach Committee organizes events for members to assist with professional development
        	(e.g. resume critiquing, company presentations, and career fair prep), assists in finding corporate sponsorship for FAMNM affiliated teams if necessary,
        	and is responsible for organizing skills workshops for FAMNM members.</p>

      </div>

    </div><!-- /.container -->


    {% include scripts.html %}
  </body>
</html>
