---
import BaseLayout from "../layouts/BaseLayout.astro";
import Announcements from "../components/index/Announcements.astro";
import FrontpageCarousel from "../components/index/FrontpageCarousel.astro";
---

<BaseLayout title="FIRST® Alumni & Mentors Network at Michigan">
    <main>
        <div class="container p-4">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <img id="frontpage-logo" class="center img-fluid" src="img/logo.png"
                    alt="Logo for FIRST Alumni and Mentors Network at Michigan"/>
                </div>
                <div class="col-sm-12 col-md">
                    <p class="text-description text-center">
                        FAMNM is a University of Michigan student
                        organization devoted to organizing student and departmental
                        efforts to support the
                        <a href="https://www.firstinspires.org" rel="noreferrer noopener" target="_blank">
                            <i>FIRST<sup>&reg;</sup></i>
                        </a> program locally and throughout the
                        <a href="https://firstinmichigan.org" rel="noreferrer noopener" target="_blank">state of Michigan</a>.
                        FAMNM offers college students the opportunity to volunteer in
                        various <i>FIRST<sup>&reg;</sup></i> programs and events,
                        hosts season kickoffs and Robot-in-3-Days (Ri3D), provides
                        funding for teams, and acts as a liaison between teams and
                        various university departments.
                    </p>
                </div>
            </div>
        </div>

        <Announcements />

        <FrontpageCarousel />

        <section class="container mb-4" id="volunteer-list">
            <div class="row mb-2">
                <h1 class="text-center">FRC Event Volunteering</h1>
                <div class="col-12 justify-content-center d-flex">
                    <a type="button" class="btn btn-primary" role="button" href="https://docs.google.com/spreadsheets/d/1UCGM4nxUCAH1Qh0Je3I5_5y3FJOEYYLOj3YGD2zWLFE/edit" rel="noreferrer noopener">
                        Sign Up to Volunteer
                    </a>
                </div>
            </div>
            <iframe class="w-100" height="600" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRqrg5Jl1sd2KBdCbKdu-IZlGacSHeSQ17J0uV9P8T8466u-sppaKvunt4TXbOYDnh6coyNYffbQGab/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </section>
    </main>

    <style>
        body {
            width: 100%;
        }

        .text-description {
            font-size: 18px;
            line-height: 1.5;
        }

        #frontpage-logo {
            max-height: 16em;
        }

        .feature-img {
            height: 300px;
            object-fit: cover;
        }
    </style>
</BaseLayout>
