---
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
// import 'mapbox-gl/dist/mapbox-gl.css';

import competionLogoLight from "../images/offseason/wolverine_robotics_competiton_logo.png";
import competionLogoDark from "../images/offseason/wolverine_robotics_competiton_logo.png";

import SponsorList from "../components/SponsorList.astro";
---


<BaseLayout title="FRC Offseaon | FIRST® Alumni & Mentors Network at Michigan">
  <div class="container">
    <main class="content">
      <div class="row justify-content-center mb-4">
        <div class="col col-12 col-lg-6 mx-auto p-2 p-md-4">
          <!-- This is the image that displays in the middle 
           It can change based on light/dark mode-->
          <ThemeSwitcher>
            <span slot="light">
              <Image
                class="center w-50 h-auto"
                src={competionLogoLight}
                alt="Wolverine Robotics Competition" 
                format="webp"
              />
            </span>
            <span slot="dark">
              <Image
                class="center w-50 h-auto"
                src={competionLogoDark}
                alt="Wolverine Robotics Competition"
                format="webp"
              />
            </span>
          </ThemeSwitcher>
        </div>
        <div class="col col-12 col-lg-9 mt-1 mt-md-2">
          <h1 class="display-6 fw-bold">
            <!-- Title Text -->
            FAMNM
            Wolverine Robotics Competition
          </h1>
          <p class="mb-4">
            <!-- Text Below the Title -->
            Compete at this year's Wolverine Robotics Competition offseason event at Skyline High School!
            The cost is $200 per robot.
          </p>
          <!-- Buttons below -->
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a
              class="btn btn-primary btn-lg gap-3"
              href="https://forms.gle/WxPpuJpYyVCP9mDf9"
              rel="noreferrer noopener"
              target="_blank"
            >
              Registration Form
            </a>
            <a
              class="btn btn-primary btn-lg gap-3"
              href="https://forms.gle/P3jHtpDWgeF4dKNe9"
              rel="noreferrer noopener"
              target="_blank"
            >
             Volunteer Sign Up
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- /.container -->
  
  <div class="content">
    <div class="row">
      <div class="col">
        <h1>General Info</h1>
        <div class="d-grid gap-5 d-sm-flex justify-content-sm-center">
        <p class="m-0">
          <span style="font-size: 1.2rem;"><b>Skyline HS Address</b><br></span>
          2552 N Maple Rd, <br> Ann Arbor, MI 48103  
        </p>
        <p class="m-0">
          <span style="font-size: 1.2rem;"><b>Dates</b><br></span>
          Setup: Friday, August 1, 2025 <br>
          Competition: Saturday, August 2, 2025  
        </p>
      </div>
      </div>
    </div>
  </div>
  
  <!--Table Scheudle -->
  <div class="container">
  <div class="content">
        <h1>Schedule</h1>
        <div class="d-grid gap-5 d-sm-flex justify-content-sm-center">

          <p class="text-start"> 
            <span style="font-size: 1.2rem;"><b>Friday, August 1: Setup</b></span><br>
            3:30 pm: Field Build <br>  
            6:00 pm: Team Load In<br> 
            8:00 pm: Pits Close<br> 
          </p>

          <p class="text-start">
            <span style="font-size: 1.2rem;"><b>Saturday, August 2: Competition</b></span><br>
            7:30 am: Pits Open <br> 
            8:30 am: Opening Ceremony <br> 
            9:00 am: Qualifications Start <br> 
            1:00 pm: Lunch <br> 
            2:00 pm: Qualifications Continue<br>
            3:00 pm: Alliance Selection <br> 
            3:30 pm: Playoffs Start <br> 
            6:30 pm: Award Ceremony <br> 
            7:00 pm: Event Ends, Teardown <br>
            8:00 pm: Pits Close<br>  
          </p>

        </div>
        <br>Times are subject to change based on event flow.
      </div>
  </div>
</div>
 <!-----Team List------>
 <div class="container">
  <div class="content">
    <h1>Team List</h1>
    <div class="row">
    {[
      "48 - Team E.L.I.T.E.",
      "66 - Grizzly Robotics",
      "247 - Da Bears",
      "548 - Robostangs",
      "573 - Mech Warriors",
      "830 - The RatPack",
      "1188 - The Ravens",
      "1189 - Gearheads",
      "1250 - Gator-Bots",
      "1506 - Metal Muscle",
      "1684 - The Chimeras",
      "1701 - RoboCubs",
      "3015 - Ranger Robotics",
      "3322 - Eagle Evolution",
      "3538 - RoboJackets",
      "3618 - Petoskey Paladins",
      "4362 - Gems",
      "5066 - Singularity",
      "5090 - TorqueNados",
      "5660 - Symmetrical Chaos",
      "5708 - Zebrotics",
      "6081 - Digital Dislocators",
      "6570 - Whiteford Bobcats",
      "7196 - Tech Tigers",
      "7211 - Hollywood",
      "7660 - The Byting Irish",
      "8179 - Robo Falcons",
      "9245 - Laker Dreadnoughts",
      "9312 - NERD Spark",
      "10285 - Sacred Heart Blue and Gold Outlanders"
    ].map((team, index) => (
      /* split into 3 cols if screen is big enough, only 1 otherwise */
       /* style makes even rows maize, odd rows blue */
      <div class={`col-12 col-md-4 text-center ${index % 3 === 0 ? "row-start" : ""}`}>
        <p style={`color: ${index % 2 === 0 ? "#F3AC27" : "#1768e3"};`}>{team}</p>
      </div>
    ))}

    </div>
  </div>
<!-- FAQ -->
<div class="content">
  <div class="row">
    <div class="col">
      <h1>FAQ</h1>
      <p class="m-0">
        <span style="font-size: 1.2rem;"><b>How are Playoffs going to work?</b></span> <br>
        Every team will be on an alliance for playoffs. <br>
        We will follow the standard a snake draft allowing for 4 teams per alliance.<br>
        Playoffs will follow the usual double elimination bracket. <br>
        This however is subject to change based on the number of teams that sign up. <br>
        If you have suggestions feel free to reach out to our event coordinator! <br>
      </p>
    </div>
</div>
<!-- Bottom Text -->
  <div class="content">
    <div class="row">
      <div class="col">
        <h1>Contact Info</h1>
        <p class="m-0">
            <span style="font-size: 1.2rem;"><b>General Email: </b></span> <br>
            famnm.offseason@umich.edu <br>
            <span style="font-size: 1.2rem;"><b>Event Coordinator: Brandon McDonald </b></span>  <br>
            brandmcd@umich.edu, (502) 702-9942 <br>
            <span style="font-size: 1.2rem;"><b>Volunteer Coordinator: Noah Tonn </b></span> <br>
            noahtonn@umich.edu, (586) 248-3883 <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container content">
      <div class="row pt-2">
        <h1>Sponsors</h1>
        <SponsorList sponsors={["esg", "rob"]} />
      </div>
    </div>
    
</div>

  <style>
    #schedule-table th {
      opacity: 0.75;
      text-align: right;
      width: 5.5rem;
      height: 2.6rem;
      transform: translateY(-1.3rem);
      line-height: 100%;
      vertical-align: middle;
      padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .schedule-time {
      padding: 4px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.7);
    }

    #schedule-table td {
      padding: 2px;
      border-top: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      vertical-align: middle;
      font-size: 1.1rem;
    }

    #schedule-table {
      max-width: 42rem;
    }

    table{
      align-items: center;
    }
    th {
      padding-top: 6px;
      padding-bottom: 4px;
    }
    td {
      text-align: start;
      vertical-align: top;
    }
  </style>
</BaseLayout>
