---
title: Scholarship | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <main class="content">
            <h1>FIRST Scholarship FAQ</h1>
            <p class="text-par mb-3">
                <b>Q: How do I apply to U of M's FIRST scholarship?</b>
                <br />
                A: When you apply to the University of Michigan College of Engineering in Ann Arbor, you are automatically considered if you mention FIRST in your application.
            </p>
            <p class="text-par mb-3">
                <b>Q: What is the deadline for the application?</b>
                <br />
                A: Since you automatically apply for the FIRST scholarship with your application to the University, the deadline is the same as that application's due date.
            </p>
            <p class="text-par mb-3">
                <b>Q: Who does this scholarship apply to?</b>
                <br />
                A: This scholarship applies to anyone who has participated in a FIRST Robotics program and is attending the University of Michigan - Ann Arbor. Preference is given to in-state, need-based applicants.
            </p>
            <p class="text-par mb-3">
                <b>Q: How can I contribute to this scholarship?</b>
                <br />
                A: Your donations to the <a href="https://giving.umich.edu/give/701018">FIRST Scholarship Fund</a> directly support this scholarship. Thank you for your support!
            </p>
            <p class="text-par mb-3">
                If your question is not answered here, please send an email to <a href="mailto:famnm@umich.edu">famnm@umich.edu</a>.
            </p>
        </main>
    </div>
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
