$color-mode-type: media-query;
$primary: #164FA6;

@import "bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    font-size-adjust: inherit;
}

/* Do not reset link styles for color-blind accessibility. */

body > * {
    flex-shrink: 0;
}
@media (min-width: 768px) {
    p a {
        white-space: nowrap;
    }
}

/** Basic style formatting **/
.content {
    padding: 20px 15px;
    text-align: center;
}

.text-par {
    text-align: justify;
    font-size: larger;
}

.membership {
    margin-top: 10px;
    padding-bottom: 10px;
}

@media all and (max-width: 767px) {
    .text-par {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media all and (min-width: 992px) {
    .text-par {
        width: 80%;
        margin: 10px auto;
    }
}

.card-header > a {
    color: inherit;
}

/** Navbar formatting **/
#navbar-logo{
    opacity: 0.7;
    display: block !important;
    width: 22px !important;
    height: 22px !important;
}

#navbar-logo:hover {
    opacity: 1;
}


/** Image formatting **/
img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

picture {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}


@media (min-width: 768px)
{
    
    div.carousel-inner > .carousel-item {
        height: 400px;
    }
    
    div.carousel-inner img.loading {
        height: 50%;
    }
    
    div.carousel-inner > div.carousel-tmp {
        padding: 150px;
        height: 400px;
    }
}

@media (min-width: 1200px)
{
    div.carousel-inner > .carousel-item {
        height: 500px;
    }
    
    div.carousel-inner img.loading {
        height: 75%;
    }
    
    div.carousel-inner > div.carousel-tmp {
        padding: 200px;
        height: 500px;
    }
}

iframe {
    max-width: 100%;
}

.modal iframe {
    max-height: 500px;
}

/* Allow hovering on navbar links */
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    ul.nav ul.dropdown-menu {
        --bs-dropdown-spacer: 0;
        top: 90%;
    }
}

.famnm-btn {
    background-color: #ffd536;
    color: black;
    text-decoration: none;
}

.famnm-btn:hover {
    background-color: #ffe582;
}

.famnm-btn-secondary {
    background-color: #2A6593;
    color: #f3f3f3;
    text-decoration: none;
}

.famnm-btn-secondary:hover {
    background-color: #2F74A7;
    color: #f3f3f3;
}

input[type=text] {
    border-radius: 3.5px;
    border-style: solid;
    border-width: .5px;
    border-color: #7f7f7f;
    padding-left: 5px;
}

.bg-famnm-blue {
    background-color: #003368;
}

.bg-famnm-blue:hover {
    background-color: #003368;
    opacity: 1;
}

.alert-primary {
    color: #efefef;
    background-color: #3b8ac3;
    border-color: #115b90;
    margin: 2em;
}

.event {
    display: block;
    border-radius: 4px;
    font-size: 1rem;
    padding: 4px;
    background-color: var(--event-background);
    border-left: 6px solid var(--event-color);
    border-top: 1px solid var(--event-color);
    border-right: 1px solid var(--event-color);
    border-bottom: 1px solid var(--event-color);
    border-radius: 0.25rem;
    text-align: left;
    line-height: 115%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.event-indent-0 {
    --event-color: #003368;
    --event-background: #a3bdda;
}

.event-indent-1 {
    --event-color: #005269;
    --event-background: #9ec7d3;
}

.event-indent-2 {
    --event-color: #006966;
    --event-background: #a2dad8;
}

@media screen and (prefers-color-scheme: dark) {
    .event-indent-0 {
        --event-background: #003368;
        --event-color: #4f80b9;
    }
    
    .event-indent-1 {
        --event-background: #005269;
        --event-color: #56a1b8;
    }
    
    .event-indent-2 {
        --event-background: #006966;
        --event-color: #50a9a6;
    }
}

.event-time-container {
    height: 0px;
    display: flex;
    align-items: center;
    overflow: visible;
    transform: translate(0, -1.5px);
}

.event-time {
    text-align: center;
    background-color: var(--bs-dark-bg-subtle);
    padding: 4px;
    border-radius: 4px;
    line-height: 100%;
    z-index: 1;
}

.event-time-divider {
    height: 2px;
    background-color: var(--bs-dark-bg-subtle);
    grid-column: 1/-1;
    z-index: -1;
    margin-bottom: 1px;
    flex-grow: 1;
}

.event-map-container {
    width: 100%;
    min-height: 500px;
    padding: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
}

.event-map-marker {
    background-color: #003368;
    color: #fefeff;
    padding: 4px;
    border-radius: 2px;
    font-size: 18px;
}

.event-time-bar {
    border-top: 2px solid firebrick;
    box-sizing: border-box;
    color: firebrick;
    font-weight: bold;
    text-align: left;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.8;
}

.event-time-bar::after {
    background-color: firebrick;
    content: "Now";
    color: white;
    padding: 3px;
    font-size: 16px;
}

.text-location {
    color: #545454;
    cursor: pointer;
}

.text-location:not([disabled="true"]):after {
    content: " ↗";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-location[disabled="true"] {
    pointer-events: none;
    cursor: not-allowed;
}

@media screen and (prefers-color-scheme: dark) {
    .text-location {
        color: #cfcfcf;
    }
}

#team-entry {
    max-width: 30rem;
    margin: auto;
}