@import "bootstrap/scss/bootstrap";

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    font-size-adjust: inherit;
}

/* Link style reset */
a {
    text-decoration: none;
}

body > * {
    flex-shrink: 0;
}
@media (min-width: 768px) {
    p a {
        white-space: nowrap;
    }
}

/** Basic style formatting **/
.content {
    padding: 20px 15px;
    text-align: center;
}

.text-par {
    text-align: justify;
    font-size: larger;
}

.membership {
    margin-top: 10px;
    padding-bottom: 10px;
}

@media all and (max-width: 767px) {
    .text-par {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media all and (min-width: 992px) {
    .text-par {
        width: 80%;
        margin: 10px auto;
    }
}

.card-header > a {
    color: inherit;
}

/** Navbar formatting **/
#navbar-logo{
    opacity: 0.7;
    display: block !important;
    width: 22px !important;
    height: 22px !important;
}

#navbar-logo:hover {
    opacity: 1;
}

/** Footer formatting **/
.footer {
    background-color: #003368;
    color: #ffffff;
    clear: both;
    font-size: 1.18em;
    flex-grow: 1;
}

.footer #copyright-text {
    font-size: 0.75em;
}

.footer #footer-logo {
    max-width: 75% !important;
}

.footer ul {
    padding-left: 0;
    list-style-type: none;
}

.footer ul > li {
    margin: 0.5em 0;
}

.footer a {
    color: #d7d7d7;
    text-decoration: underline;
    min-width: 100px;
}

.footer #social-icons {
    font-size: 25px;
}

.footer #social-icons a {
    text-decoration: none;
}

.footer #social-icons a svg {
    margin: 0 5px;
}

/** Image formatting **/
img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

picture {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

/** Carousel **/

div.carousel-item > img, div.carousel-item > picture {
    background-repeat: no-repeat;
    position: absolute !important;
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-back-image, .carousel-back-image > img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    filter: blur(7px);
}

/* Add a black gradient behind the captions to increase legibility by a lot. */
div.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1.5em;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.8));
}

div.carousel-caption a {
    color: #59a9e3;
}

/* Custom viewport-size based image sizing */
@media (max-width: 767px)
{
    div.carousel-inner {
        height: 300px;
    }
    
    div.carousel-inner > .carousel-item {
        height: 100%;
    }
    
    div.carousel-inner img.loading {
        height: 30%;
    }
    
    div.carousel-inner > div.carousel-tmp {
        padding: 100px;
        height: 300px;
        max-height: 300px;
    }
    
    div.carousel-inner div.carousel-caption {
        display: none;
    }
    
    ol.carousel-indicators {
        background-color: rgba(0,0,0,0.5);
    }
}

@media (min-width: 768px)
{
    
    div.carousel-inner > .carousel-item {
        height: 400px;
    }
    
    div.carousel-inner img.loading {
        height: 50%;
    }
    
    div.carousel-inner > div.carousel-tmp {
        padding: 150px;
        height: 400px;
    }
}

@media (min-width: 1200px)
{
    div.carousel-inner > .carousel-item {
        height: 500px;
    }
    
    div.carousel-inner img.loading {
        height: 75%;
    }
    
    div.carousel-inner > div.carousel-tmp {
        padding: 200px;
        height: 500px;
    }
}

iframe {
    max-width: 100%;
}

.modal iframe {
    max-height: 500px;
}

/* Allow hovering on navbar links */
@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    ul.nav ul.dropdown-menu {
        --bs-dropdown-spacer: 0;
        top: 90%;
    }
}

.famnm-btn {
    background-color: #ffd536;
    color: black;
}

.famnm-btn:hover {
    background-color: #ffe582;
}

.famnm-btn-secondary {
    background-color: #2A6593;
    color: #f3f3f3;
}

.famnm-btn-secondary:hover {
    background-color: #2F74A7;
    color: #f3f3f3;
}

input[type=text] {
    border-radius: 3.5px;
    border-style: solid;
    border-width: .5px;
    border-color: #7f7f7f;
    padding-left: 5px;
}

.bg-famnm-blue {
    background-color: #003368;
}

.bg-famnm-blue:hover {
    background-color: #003368;
    opacity: 1;
}

.alert-primary {
    color: #efefef;
    background-color: #3b8ac3;
    border-color: #115b90;
    margin: 2em;
}
