---
import { Picture } from "astro-imagetools/components";
import Link from "./Link.astro";
---
<div class="footer row text-center mx-0 my-0">
    <div class="footer-col col-md-6 my-4">
        <Picture attributes={{picture: {
            id: "footer-logo",
            class: "center img-fluid h-auto"
        }}} alt="FAMNM logo" src="/img/base/logo-monochrome-dark.png" breakpoints={[750, 1500]} placeholder="none" format={["webp", "png"]} />
        <div id="copyright-text">
            &copy; 2024 <i>FIRST</i> Alumni and Mentors Network at Michigan
        </div>
        <p id="social-icons">
            <a href="https://facebook.com/theFAMNM" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <span class="fa-brands fa-facebook"></span>
            </a>
            <a href="https://twitter.com/theFAMNM" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
                <span class="fa-brands fa-twitter"></span>
            </a>
            <a href="https://www.instagram.com/thefamnm/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <span class="fa-brands fa-instagram"></span>
            </a>
            <a href="https://www.youtube.com/FAMNM" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
                <span class="fa-brands fa-youtube"></span>
            </a>
            <a href="https://twitch.tv/famnm" target="_blank" rel="noopener noreferrer" aria-label="Twitch">
                <span class="fa-brands fa-twitch"></span>
            </a>
            <a href="https://photos.app.goo.gl/fs6dKYnxE1ZW5WEE6" target="_blank" rel="noopener noreferrer" aria-label="Photos">
                <span class="fas fa-images"></span>
            </a>
            <a href="https://www.linkedin.com/company/famnm/about" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <span class="fa-brands fa-linkedin"></span>
            </a>
            <a href="https://github.com/famnm/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <span class="fa-brands fa-github"></span>
            </a>
        </p>
        <p>
            <a href="mailto:famnm@umich.edu" class="btn famnm-btn-secondary my-1">
                <span class="fas fa-envelope"></span> Contact us!
            </a>&nbsp;
            <a href="https://giving.umich.edu/give/701018" class="btn famnm-btn-secondary my-1" data-bs-toggle="tooltip" data-placement="top" title="To date, FAMNM has raised over $26k to endow a scholarship fund for FIRST alumni at the University of Michigan. Please consider donating to help the scholarship grow!">
                <span class="fas fa-donate"></span> Support the FIRST Scholarship!
            </a>
        </p>
    </div>
    <div class="footer-col col-md-6 my-4">
        <h1 class="h3">Sponsors and Affiliates</h1>
        <ul>
            <li><Link to="https://engin.umich.edu">University of Michigan College of Engineering</Link></li>
            <li><Link to="https://esg.engin.umich.edu">Engineering Student Government</Link></li>
            <li><Link to="https://invensity.com">Invensity</Link></li>
            <li><Link to="https://robotics.umich.edu">Michigan Robotics</Link></li>
            <li><Link to="https://ece.engin.umich.edu">Electrical and Computer Engineering</Link></li>
            <li><Link to="https://cse.engin.umich.edu">Computer Science and Engineering</Link></li>
        </ul>
    </div>
</div>
