---
import { Picture } from "astro:assets";
import Link from "./Link.astro";
import wideLogo from "../images/base/logo-monochrome-dark.png";
---

<div class="footer row text-center mx-0 my-0">
  <div class="footer-col col-md-6 my-4">
    <Picture
      id="footer-logo"
      class="center img-fluid h-auto"
      alt="FAMNM logo"
      src={wideLogo}
      widths={[750, 1500]}
    />
    <div id="copyright-text">
      &copy; 2025 <i>FIRST</i> Alumni and Mentors Network at Michigan
    </div>
    <p id="social-icons">
      </a>
      <a
        href="https://www.instagram.com/thefamnm/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <span class="fa-brands fa-instagram"></span>
      </a>
      <a
        href="https://www.youtube.com/@FAMNM-Ri3D"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="YouTube"
      >
        <span class="fa-brands fa-youtube"></span>
      </a>
      <a
        href="https://twitch.tv/famnm"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitch"
      >
        <span class="fa-brands fa-twitch"></span>
      </a>
      <a
        href="https://facebook.com/theFAMNM"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Facebook"
      >
        <span class="fa-brands fa-facebook"></span>
      </a>
      <a
        href="https://twitter.com/theFAMNM"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitter"
      >
        <span class="fa-brands fa-twitter"></span>
      <a
        href="https://www.linkedin.com/company/famnm/about"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <span class="fa-brands fa-linkedin"></span>
      </a>
      <a
        href="https://github.com/famnm/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <span class="fa-brands fa-github"></span>
      </a>
    </p>
    <p>
      <a href="mailto:famnm@umich.edu" class="btn famnm-btn-secondary my-1">
        <span class="fas fa-envelope"></span> Contact us!
      </a>&nbsp;
      <a
        href="https://giving.umich.edu/give/701018"
        class="btn famnm-btn-secondary my-1"
        data-bs-toggle="tooltip"
        data-placement="top"
        title="To date, FAMNM has raised over $26k to endow a scholarship fund for FIRST alumni at the University of Michigan. Please consider donating to help the scholarship grow!"
      >
        <span class="fas fa-donate"></span> Support the FIRST Scholarship!
      </a>
    </p>
  </div>
  <div class="footer-col col-md-6 my-4">
    <h1 class="h3">Sponsors and Affiliates</h1>
    <ul>
      <li>
        <Link to="https://engin.umich.edu"
          >University of Michigan College of Engineering</Link
        >
      </li>
      <li>
        <Link to="https://esg.engin.umich.edu"
          >Engineering Student Government</Link
        >
      </li>
      <li><Link to="https://invensity.com">Invensity</Link></li>
      <li><Link to="https://robotics.umich.edu">Michigan Robotics</Link></li>
      <li>
        <Link to="https://ece.engin.umich.edu"
          >Electrical and Computer Engineering</Link
        >
      </li>
      <li>
        <Link to="https://cse.engin.umich.edu"
          >Computer Science and Engineering</Link
        >
      </li>
    </ul>
  </div>
</div>
<style lang="scss">
  .footer {
    background-color: #003368;
    color: #ffffff;
    clear: both;
    font-size: 1.18em;
    flex-grow: 1;

    #copyright-text {
      font-size: 0.75em;
    }

    ul {
      padding-left: 0;
      list-style-type: none;
    }

    ul > li {
      margin: 0.5em 0;
    }

    a {
      color: #d7d7d7;
    }

    #social-icons {
      font-size: 25px;
    }

    #social-icons a {
      text-decoration: none;
    }

    #social-icons a {
      margin: 0 5px;
    }
  }
</style>
<style is:global>
  #footer-logo {
    max-width: 75% !important;
  }
</style>
