<span class="light">
    <slot name="light" />
</span>
<span class="dark">
    <slot name="dark" />
</span>

<style lang="scss">
    $color-mode-type: media-query;
    @import "bootstrap/scss/bootstrap";

    .dark {
        display: none;
    }
    @include color-mode(dark) {
        .dark {
            display: inline;
        }
        .light {
            display: none;
        }
    }
</style>