---
const { title } = Astro.props;
import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
import '@fortawesome/fontawesome-free/scss/brands.scss';
import '@fortawesome/fontawesome-free/scss/solid.scss';
---

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="FAMNM is a University of Michigan student
    organization supporting FIRST and the FIRST progression of programs
    (FLL, FTC, FRC), which brings STEM opportunities to K-12 students through robotics.
    Keywords: first fll ftc frc umich famnm volunteer mentor kickoff" />
<meta name="author" content="" />
<meta name="generator" content={Astro.generator} />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" sizes="192x192" href="/img/favicon_large.png" />
<title>{title}</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&amp;display=swap" rel="stylesheet" />