---
title: Calendar | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>

  <body>

    {% include header.html %}

    <div class="container">

    	<div class="content">
        	<h1>The <i>FIRST<sup>®</sup></i> Alumni Mentors Network at Michigan Calendar</h1>
			<iframe src="https://www.google.com/calendar/embed?src=umich.edu_d5st3c9m44jijj28fs6m7j44b0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
    </div><!-- /.container -->

	{% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
