---
title: Calendar | FIRST® Alumni & Mentors Network at Australia
FIRST: <i>FIRST<sup>&reg;</sup></i>
---
{% assign FIRST = page.FIRST %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    <div class="container">
        <div class="content">
            <h1>
                The {{ FIRST }} Alumni Mentors Network at Australia Calendar
            </h1>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=dW1pY2guZWR1X2Q1c3QzYzltNDRqaWpqMjhmczZtN2o0NGIwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=Ym9rYTY5bjVkZmdqaWlscjhxNHB1dWkzZ2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%2322AA99&amp;color=%238A2D38&amp;mode=WEEK&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=1" style="border:solid 1px #777" width="900" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div><!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
