---
title: Diversity Mixer | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
  </head>

  <body>
     {% include header.html %}
     <div class="container">

     <div class="content">
      <h1 class="page-header">Engineering Student Organization Diversity Mixer</h1>
      <img alt="Logos for FAMNM, NSBE, oSTEM, SHPE, and SWE" src="../img/diversity-mixer-orgs.png" style="height: 300px;"/>
      <h3 class="bold">5-9 PM, Thursday, September 21<sup>st</sup><br/>North Campus Grove</h3>
      <p>FAMNM, NSBE, oSTEM, SHPE, and SWE are hosting our second annual mixer to have fun and get to know those within our diverse engineering community. Food will be provided!</p>
      <p>Sponsored by:</p>
      <img alt="Center for Engineering Diversity Outreach" src="../img/sponsor/cedo.png"/>
     </div>
    </div><!-- /.container -->
	{% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
