---
title: FAMNM Forums | FIRST® Alumni & Mentors Network at Michigan
schedule:
    - 0:
        type: "generic"
        time: "9:00 AM"
        title: "Check In"
        location: "Dow West Entrance"
    - 0:
        type: "presentation"
        time: "10:00 AM"
        title: "Pre Presentation Panel"
        presenter: "FAMNM and Friends"
        description: "We are here to talk about FAMNM, our scholarship, and answer your questions!"
    - 0:
        type: "presentation"
        time: "10:30 AM"
        title: "Using PIDs to Create an Effective Visionless Autonomous"
        presenter: "Jessica Kline"
        description: "An explanation of how PIDs function, how to tune them, and how to use them in the code. Specific focus is put on using a PID in conjunction with Motion Magic for driving during auton."
    - 0:
        type: "presentation"
        time: "11:00 AM"
        title: "How To: West Coast Drive"
        presenter: "Solomon Shurge"
        description: "Everything you need to know to get started with the West Coast Drive system."
    - 0:
        type: "generic"
        time: "12:00 PM"
        title: "Lunch Break"
    - 0:
        type: "presentation"
        time: "1:00 PM"
        title: "<span class='font-italic'>FIRST</span>&reg; Badges and Your Team"
        presenter: "Ron Weber"
        description: "An introduction to what <span class='font-italic'>FIRST</span>&reg; Badges are and how you can use them in your team, particularly in team training."
    - 0:
        type: "presentation"
        time: "2:00 PM"
        title: "Autonomous Driving with Ultrasonics"
        presenter: "Michael Lindskov"
        description: "The presentation will take the audience through a code walk of state table, ramp functions used with ultrasonics, and demonstration of a robot driving through an obstacle course using ultrasonics."
    - 0:
        type: "presentation"
        time: "3:00 PM"
        title: "Post Presentation Panel"
        presenter: "FAMNM and Friends"
        description: "We are here to talk about our <span class='font-italic'>FIRST</span>&reg; experiences and answer your questions!"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
    <style>
        #map-wrap {
            width: 100%;
            margin: 1.5em 0;
        }
        #map {
            height: 400px;
        }
        #legend {
            margin-bottom: 1.5em;
        }
        #legend img {
            display: inline-block;
        }
    </style>
  </head>
  <body>

    {% include header.html %}

    <div class="container">

     <div class="content">
      <h1 class="page-header">2018 FAMNM Forums</h1>
      <p class="text-center font-weight-bold">Thanks to those who attended FAMNM Forums both in person and virtually! We hope to see you again next year.</p>
      <p class="text-center"><a href="https://drive.google.com/drive/folders/10voIqJ_cXBfOTu4Pl46DRis5lgFh4krs?usp=sharing" class="btn btn-primary" target="_blank"> 	Click here to view this year's presentations</a></p>
      <p class="text-center"><a href="https://twitch.tv/FAMNM" class="btn btn-primary" target="_blank" rel="noreferrer">View VODs of the event on our Twitch page</a></p>
      <h2>Map</h2>
      <div id="map-wrap">
          <div id="map"></div>
      </div>
      <div id="legend" class="row font-weight-bold">
          <span class="col-sm">
              <img src="../img/kickoff/icons/parking.png" alt="Parking"/>
              Parking
          </span>
          <span class="col-sm">
              <img src="../img/kickoff/icons/star.png" alt="Check In"/>
              Check In
          </span>
          <span class="col-sm">
              <img src="https://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="Presentation Room">
              Presentation Room (DOW 1013)
          </span>
      </div>
      <h2>Schedule</h2>
      <table class="table table-striped table-bordered d-none d-md-table">
          <thead>
              <tr>
                  <th>Time</th>
                  <th>Presentation Title</th>
                  <th>Presenter</th>
                  <th>Presentation Description</th>
              </tr>
          </thead>
          <tbody>
              {% for item in page.schedule %}
              <tr>
                  <td class="text-right">{{ item[0].time }}</td>
                  {% if item[0].type == "generic" %}
                  <td colspan="3">
                      <span class="font-weight-bold text-uppercase">{{ item[0].title }}</span>
                      {% if item[0] contains "location" %}
                      <br/>{{ item[0].location }}
                      {% endif %}
                  </td>
                  {% else %}
                  <td>
                    {% if item[0].type == "presentation" and item[0] contains "link" %}
                    <a href="{{ item[0].link }}" target="_blank" rel="noreferrer">
                    {% endif %}
                    {{ item[0].title }}
                    {% if item[0].type == "presentation" and item[0] contains "link" %}
                    </a>
                    {% endif %}
                  </td>
                  <td>{{ item[0].presenter }}</td>
                  <td>{{ item[0].description }}</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <table class="table table-striped table-bordered d-md-none d-lg-none d-xl-none">
          <tbody>
              {% for item in page.schedule %}
              <tr><td>
                  <p>{{ item[0].time }}</p>
                  <p class="font-weight-bold">
                    {% if item[0].type == "presentation" and item[0] contains "link" %}
                    <a href="{{ item[0].link }}" target="_blank" rel="noreferrer">
                    {% endif %}
                    {{ item[0].title }}
                    {% if item[0].type == "presentation" and item[0] contains "link" %}
                    </a>
                    {% endif %}
                  </p>
                  {% if item[0].type == "generic" and item[0] contains "location" %}
                  <p>{{ item[0].location }}</p>
                  {% elsif item[0].type == "presentation" %}
                  <p class="font-italic">Presented by: {{ item[0].presenter }}</p>
                  <p>{{ item[0].description }}</p>
                  {% endif %}
              </td></tr>
              {% endfor %}
          </tbody>
      </table>
      <h2>About FAMNM Forums</h2>
      <div class="img-row" style="margin-bottom: 1em;">
          <img src="../img/forums/auditorium.png" alt="2016 FAMNM Forums" height=250 width=350/> <!-- This is from Kickoff, but we don't have any pictures from Forums... -->
      </div>
      <p class = "text-par">The FAMNM Robotics Forums is an annual event hosted on the U of M Campus for teams to come and build their <span class="italic">FIRST</span>&reg; Robotics knowledge.
      The event features seminars on a wide range of topics, including mechanical design, strategy, team organization, volunteering, <span class="italic">FIRST</span>&reg; alumni opportunities, and more! FAMNM is always looking for feedback from teams on what seminars they’d like to see!</p>
    </div>
    </div><!-- /.container -->
	{% include footer.html %}
        {% include scripts.html %}
        <script src="../js/web-encapsulation.js"></script>
        <script src="../js/forums.js"></script>
  </body>
</html>
