---
title: "Washtenaw Robotics Competition: FRC Offseason | FIRST® Alumni & Mentors Network at Michigan"
schedule:
    - 0:
        type: "day"
        description: "Thursday, August 1: Setup"
    - 0:
        type: "setup"
        time: "4pm"
        description: "Field build"
    - 0:
        type: "day"
        description: "Friday, August 2: Setup and team load-in"
    - 0:
        type: "setup"
        time: "4pm"
        description: "Finish field build, pit setup"
    - 0:
        time: "5pm"
        description: "<strong>Teams arrive</strong>, around 2 hours of practice matches"
    - 0:
        type: "day"
        description: "Saturday, August 3: Competition!"
    - 0:
        time: "8am"
        description: "Pits open"
    - 0:
        time: "9am-9:30am"
        description: "Opening ceremonies"
    - 0:
        time: "9:30am-12pm"
        description: "Qualification matches"
    - 0:
        time: "12pm-1pm"
        description: "Lunch"
    - 0:
        time: "1pm-3pm"
        description: "Qualification matches"
    - 0:
        time: "3pm-3:30pm"
        description: "Alliance selection"
    - 0:
        time: "3:30pm-7pm*"
        description: "Elimination matches"
    - 0:
        time: "7pm-7:30pm*"
        description: "Awards ceremony"
    - 0:
        time: "7:30pm-9pm*"
        description: "Teardown"
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
    <style type="text/css">
        dt {
            font-weight: bold;
        }
        
        dd {
            margin-left: 1em;
        }
        
        table.schedule {
            max-width: 700px;
        }
        
        table.schedule tr.day {
            margin-top: 1em;
            background-color: #212529;
            color: white;
            font-weight: bold;
        }
        
        table.schedule tr.setup {
            background-color: #cde;
        }
    </style>
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <main class="content">
            <h1>Washtenaw Robotics Competition: FRC Offseason Event</h1>
            <p class="text-par font-weight-bold">
                FAMNM is looking at ways to support our teams virtually during the 2020-21
                school year. We'll update you all when we have some more information!
            </p>
            
            <h3 class="bold">Saturday, August 3<sup>rd</sup></h3>
            <p>
                <a href="https://goo.gl/maps/XfYrgGemYG9gXHTw9">Ypsilanti Community High School</a><br/>
                2095 Packard St, Ypsilanti, MI<br/>
                <a href="#schedule">Schedule below</a><br/>
                Follow the event on <a href="https://www.thebluealliance.com/event/2019miwrc">The Blue Alliance</a>!
            </p>
            <div class="row">
                <div class="col-md-6">
                    <h2>Compete</h2>
                    <p>Compete in the 2019 FRC game: Destination: Deep Space! We have space for up to 32 robots to compete. The cost is $200 per robot, payable at the event.</p>
                    <p><a class="mx-auto btn famnm-btn-secondary" href="https://forms.gle/Bg1hfLt6UGo4ri4t6" target="_blank" rel="noopener noreferrer">Sign up to compete!</a></p>
                    <h3>FAQ</h3>
                    <dl class="text-left">
                        <dt>Where is the team list?</dt>
                        <dd>You can find the team list on <a href="https://www.thebluealliance.com/event/2019miwrc#teams">The Blue Alliance</a>. We add new teams to that page manually as they register, and the page itself updates nightly, so updates may be delayed. If you want to confirm that your team is registered, feel free to contact us.</dd>
                        <dt>Are there awards?</dt>
                        <dd>Yes, there will be awards given at the end of elimination matches.</dd>
                        <dt>Are there practice matches?</dt>
                        <dd>Practice matches are tentatively scheduled for Friday evening (August 2) during team load-in (see schedule below).</dd>
                        <dt>Is this event restricted to Michigan teams?</dt>
                        <dd>Nope! We're happy to have teams from anywhere, although we can't cover your travel expenses.</dd>
                        <dt>Do we have to show up on Friday?</dt>
                        <dd>No, although we recommend it. If you know that you won't be arriving until Saturday, let us know so we can plan ahead.</dd>
                        <dt>Can we compete with more than one robot?</dt>
                        <dd>
                            Yes - as long as all of your robots can play this year's game. Let us know in the sign-up form if you would like to do this. A few important notes, however:
                            <ul>
                                <li>We can't guarantee spots for multiple robots. If the event reaches capacity, spots for additional robots will be granted in registration order.</li>
                                <li>Your robots might have to play in the same match, so bring enough students to drive them!</li>
                                <li>Additional robots will be assigned numbers in the reserved 9985-9999 range, which will require reprogramming your radio and roboRIO. We will let you know of your team number assignment before the event, but we can help with reprogramming your components at the event too.</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h2>Volunteer</h2>
                    <p>We need lots of volunteers to make this event run smoothly! Please consider signing up if you are available.</p>
                    <p><a class="mx-auto btn famnm-btn-secondary" href="https://forms.gle/ijN8YscLxQNquWAS6" target="_blank" rel="noopener noreferrer">Sign up to volunteer!</a></p>
                    <h3>FAQ</h3>
                    <dl class="text-left">
                        <dt>Can I volunteer for a new role (or if I've never volunteered before)?</dt>
                        <dd>Absolutely! We will have experienced volunteers able to train you in any role you'd like to try out.</dd>
                        <dt>Do I have to be a University of Michigan student to volunteer?</dt>
                        <dd>Nope!</dd>
                        <dt>When do I show up?</dt>
                        <dd>Most positions only involve working on Saturday, but we are happy to have you help whenever you can make it. Feel free to <a href="#contact">contact us</a> with any questions about specific positions.</dd>
                    </dl>
                </div>
            </div>
            <!- /.row ->
            <h2 id="schedule">Schedule</h2>
            <table class="table table-striped table-bordered schedule mx-auto">
                <tbody>
                    {% for item in page.schedule %}
                    {% if item[0].type == "day" %}
                    <tr class="day">
                        <td colspan="2">{{ item[0].description }}</td>
                    </tr>
                    {% else %}
                    <tr {% if item[0].type == "setup" %}class="setup"{% endif %}>
                        <td>{{ item[0].time }}</td>
                        <td>{{ item[0].description }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <p>* Times subject to change based on flow of elimination matches</p>
            
            <h2 id="contact">Contact Information</h2>
            <p>Event and volunteer coordinators: <a href="mailto:famnm.offseason@umich.edu">famnm.offseason@umich.edu</a></p>
        </main>
    </div>
    <!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
