---
title: FTC Kickoff | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include title-styles.html %}
</head>

<body>
    {% include header.html %}

    <div class="container">
        <main class="content">
            <div class="row justify-content-center">
                <div class="col col-10 col-lg-6 mx-auto p-2 p-md-3">
                    <img class="center w-50" src="/img/ftc/2022/season_logo.png"
                        alt="Power Play, presented by Raytheon Technologies">
                </div>
                <div class="col col-12 mt-1 mt-md-2">
                    <h1 class="display-6 fw-bold">FAMNM <i>FIRST<sup>&reg;</sup></i> Tech Challenge Kickoff</h1>
                    <p>FAMNM kicked off the 2022-2023 FTC season, <i>Power Play</i>, on <time datetime="2022-09-10">September 10, 2022</time> with 9 teams. Good luck, and enjoy this season!</p>
                </div>
            </div>
        </main>
    </div>
    <!-- /.container -->
    <div id="image-carousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#image-carousel"
                data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#image-carousel"
                data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#image-carousel"
                data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <picture class="carousel-back-image" aria-hidden="true">
                    <source srcset="/img/ftc/2022/speaker.webp" type="image/webp">
                    <source srcset="/img/ftc/2022/speaker.jpg" type="image/jpeg">
                    <img src="/img/ftc/2022/speaker.jpg" alt="">
                </picture>
                <picture>
                    <source srcset="/img/ftc/2022/speaker.webp" type="image/webp">
                    <source srcset="/img/ftc/2022/speaker.jpg" type="image/jpeg">
                    <img src="/img/ftc/2022/speaker.jpg" alt="Kyle Flynn presents his FIRST journey to kickoff attendees">
                </picture>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Pre-Reveal Presentation</h3>
                    <p>Kyle Flynn, Vice Chairman and Chief Technology Officer for
                        <a href="https://theorangealliance.org/about" rel="noreferrer noopener" target="_blank">The Orange Alliance</a>,
                        presents his <i>FIRST</i> journey to teams.</p>
                </div>
            </div>
            <div class="carousel-item">
                <picture class="carousel-back-image" aria-hidden="true">
                    <source srcset="/img/ftc/2022/field-reveal.webp" type="image/webp">
                    <source srcset="/img/ftc/2022/field-reveal.jpg" type="image/jpeg">
                    <img src="/img/ftc/2022/field-reveal.jpg" alt="">
                </picture>
                <picture>
                    <source srcset="/img/ftc/2022/field-reveal.webp" type="image/webp">
                    <source srcset="/img/ftc/2022/field-reveal.jpg" type="image/jpeg">
                    <img src="/img/ftc/2022/field-reveal.jpg" alt="Teams examine the newly revealed Power Play field">
                </picture>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Field Reveal</h3>
                    <p>Teams visit and examine the new <i>Power Play</i> field as they ideate and strategize.
                        FAMNM's Eeshwar Krishnan explains the game's rules in detail.</p>
                </div>
            </div>
            <div class="carousel-item">
                <picture class="carousel-back-image" aria-hidden="true">
                    <source srcset="/img/ftc/2021/oluwami-digit.webp" type="image/webp">
                    <source srcset="/img/ftc/2021/oluwami-digit.jpg" type="image/jpeg">
                    <img src="/img/ftc/2021/oluwami-digit.jpg" alt="">
                </picture>
                <picture>
                    <source srcset="/img/ftc/2021/oluwami-digit.webp" type="image/webp">
                    <source srcset="/img/ftc/2021/oluwami-digit.jpg" type="image/jpeg">
                    <img src="/img/ftc/2021/oluwami-digit.jpg" alt="Oluwami showcases Digit, the humanoid robot, to FTC teams during kickoff 2021">
                </picture>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Digit, the Humanoid</h3>
                    <p>During FAMNM's 2021-2022 FTC kickoff, Oluwami showcases Digit, a humanoid robot from Agility Robotics.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <p class="m-0">
                    <a href="https://www.firstinspires.org/ftc" rel="noopener noreferrer">FIRST Tech Challenge</a>
                    (FTC) is the middle/high school level in the FIRST progression of programs.
                    In 2017, FAMNM launched its first FTC Kickoff event, where we invited local teams to view the reveal of the new
                    year's challenge in early September. The event came complete with FRC Demos, inspiring speeches, and a chance
                    to see an official FTC game field!
                </p>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
    <style>
        #schedule-table th {
            opacity: 0.75;
            text-align: right;
            width: 5.5rem;
            height: 2.6rem;
            transform: translateY(-1.3rem);
            line-height: 100%;
            vertical-align: middle;
            padding: 0.5rem 0 0.5rem 0.5rem;
        }

        .schedule-time {
            padding: 4px;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.7);
        }

        #schedule-table td {
            padding: 2px;
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            vertical-align: middle;
            font-size: 1.1rem;
        }

        #schedule-table {
            max-width: 42rem;
        }
    </style>
</body>

</html>