---
title: FTC Kickoff | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}
    
    <div class="container">
        <div class="content">
            <div class="col col-10 col-md-6 mx-auto">
                <img class="center w-100" src="/img/ftc/2021/freight-frenzy-season-logo.png" alt="Freight Frenzy, presented by Raytheon Technologies">
            </div>
            <h1 class="h2">FAMNM <i>FIRST&reg;</i> Tech Challenge Kickoff</h1>
            <div>
                <p class="font-weight-bold">
                    The FTC Kickoff for <i>FREIGHT FRENZY</i> was hosted on Saturday, September 18th, 2021
                    at the University of Michigan North Campus. Good luck, teams!
                </p>
            </div>
            <div id="carousel-ftc" class="carousel slide p-2" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-tmp"><img class="carousel-loading" src="/img/mgear.gif" alt="Loading..."/></div>
                </div>
                <a class="carousel-control-prev" href="#carousel-ftc" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Last</span>
                </a>
                <a class="carousel-control-next" href="#carousel-ftc" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <p class="text-par">
                In Michigan, <a href="https://www.firstinspires.org/ftc" rel="noopener noreferrer">FIRST Tech Challenge</a>
                (FTC) is the middle school level in the FIRST progression of programs.
                In 2017, FAMNM launched its first FTC Kickoff event, where we invited local teams to view the reveal of the new
                year's challenge in early September. The event came complete with FRC Demos, inspiring speeches, and a chance
                to see an official FTC game field!
            </p>
            
        </div>
    </div>
    <!-- /.container -->
    
    {% include footer.html %}
    {% include scripts.html %}
    <script src="/js/carousel.js"></script>
    <script>
        $(document).ready(carouselLoad("/img/ftc/2021/"));
    </script>
</body>
</html>
