---
title: FTC Kickoff | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include title-styles.html %}
</head>

<body>

    {% include header.html %}

    <div class="container">
        <div class="content">
            <h1>FAMNM <i>FIRST®</i> Tech Challenge Kickoff</h1>
            <div>
                <!-- <p class="font-weight-bold">Thank you to the teams who attended our 2019 FTC Kickoff! All the best for
                    <i>SKYSTONE</i>, presented by Qualcomm..</p>
                <p>
                    <a class="btn famnm-btn-secondary"
                        href="https://drive.google.com/drive/folders/1FLvOhtqiPCqyYscEWLh7eL9B3L24iQHT?usp=sharing"
                        target="_blank" rel="noopener noreferrer">View Workshop Presentation Slides</a>
                </p>
                <br /> -->
                <p class="text-par font-weight-bold">
                   Unfortunately, FAMNM was unable to host an FTC Kickoff event
                   this fall. We hope to see you back on campus for FTC Kickoff 2021!
                </p>
            </div>
            <div id="carousel-ftc" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators"></ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-tmp"><img class="carousel-loading" src="/img/mgear.gif" alt="Loading..."/></div>
                </div>
                <a class="carousel-control-prev" href="#carousel-ftc" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Last</span>
                </a>
                <a class="carousel-control-next" href="#carousel-ftc" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <p class="text-par">
                The FIRST Tech Challenge (FTC) is the middle school level in the FIRST progression of programs.
                In 2017, FAMNM launched its FTC Kickoff event, in which we invited local teams to view the reveal of the new
                year's challenge in early September. The event came complete with FRC Demos, inspiring speeches, and the chance
                to see an official FTC game field!
            </p>

        </div>
    </div>
    <!-- /.container -->

    {% include footer.html %}
    {% include scripts.html %}
    <script src="../js/web-encapsulation.js"></script>
    <script src="/js/carousel.js"></script>
    <script>
        $(document).ready(carouselLoad("/img/ftc/2019/"));
    </script>
</body>

</html>