---
title: FAMNM Forums | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page-common.html %}
  </head>
  <body>

    {% include header.html %}

    <div class="container">

     <div class="content">
      <h1>FAMNM Forums</h1>
      <p class = "text-par">The FAMNM Robotics Forums is an annual event hosted on the U of M Campus for teams to come and build their <span class="italic">FIRST</span>&reg; Robotics knowledge.
      The event features seminars on a wide range of topics, including mechanical design, strategy, team organization, volunteering, <span class="italic">FIRST</span>&reg; alumni opportunities, and more! FAMNM is always looking for feedback from teams on what seminars they’d like to see!</p>
      <div class="img-row" style="margin-bottom: 1em;">
          <img src="../img/forums/auditorium.png" alt="2016 FAMNM Forums" height=250 width=350/> <!-- This is from Kickoff, but we don't have any pictures from Forums... -->
      </div>
      <h2>2017 FAMNM Forums</h2>
      <p class = "text-par">Thanks teams for attending the 2017 FAMNM Forums! We wish you the best of luck this season and we hope to see you again next year!</p>
    </div><!-- /.container -->
    {% include scripts-common.html %}
  </body>
</html>
