---
title: FAMNM Robotics Day | FIRST® Alumni & Mentors Network at Michigan
morning-schedule:
    - 0:
        type: "generic"
        time: "9:00 AM - 5:00 PM"
        title: "Check In"
        location: "BBB Atrium"
    - 0:
        type: "presentation"
        time: "9:20 AM - 10:05 AM"
        DOW1010: "Team Building Exercise"
        DOW1013: "Talking To Judges In The Pits"
        BBB1670: "Scouting With Digital Tools"
        BBB1690: "College Panel"
    - 0:
        type: "presentation"
        time: "10:10 AM - 10:55 AM"
        DOW1010: "Team Building Exercise"
        DOW1013: "Talking To Judges In The Pits"
        BBB1670: "Scouting With Digital Tools"
        BBB1690: "College Panel"
    - 0:
        type: "generic"
        time: "11:00 AM - 11:30 AM"
        title: "Break"
    - 0:
        type: "presentation"
        time: "11:30 AM - 12:15 PM"
        DOW1010: "Team Building Exercise"
        DOW1013: "Talking To Judges In The Pits"
        BBB1670: "Scouting With Digital Tools"
        BBB1690: "College Panel"
    - 0:
        type: "generic"
        time: "12:15 PM - 1:00 PM"
        title: "Lunch Break (BBB Atrium)"
afternoon-schedule:
    - 0:
        type: "presentation"
        time: "1:00 PM - 2:00 PM"
        DOW1006: "Tube Challenge"
        DOW1013: "FRC Kahoot (FRC-themed trivia game)"
        DOW1014: "Blindfolded Challenges"
        BBB1690: "Mindstorm in 2 Hours (1st session)"
        BBBATRIUM: "Michigan Robotics Demonstrations"
    - 0:
        type: "presentation"
        time: "2:00 PM - 3:00 PM"
        DOW1006: "Tube Challenge"
        DOW1013: "FRC Kahoot (FRC-themed trivia game)"
        DOW1014: "Senses Challenges"
        BBB1690: "Mindstorm in 2 Hours (1st session)"
        BBBATRIUM: "Michigan Robotics Demonstrations"
    - 0:
        type: "presentation"
        time: "3:00 PM - 4:00 PM"
        DOW1006: "Tube Challenge"
        DOW1013: "FRC Kahoot (FRC-themed trivia game)"
        DOW1014: "Blindfolded Challenges"
        BBB1690: "Mindstorm in 2 Hours (2nd session)"
        BBBATRIUM: "Michigan Robotics Demonstrations"
    - 0:
        type: "presentation"
        time: "4:00 PM - 5:00 PM"
        DOW1006: "Tube Challenge"
        DOW1013: "FRC Kahoot (FRC-themed trivia game)"
        DOW1014: "Senses Challenges"
        BBB1690: "Mindstorm in 2 Hours (2nd session)"
        BBBATRIUM: "Michigan Robotics Demonstrations"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include title-styles.html %}
    <style>
        #map-wrap {
            width: 100%;
            margin: 1.5em 0;
        }
        #map {
            height: 400px;
        }
        #legend {
            margin-bottom: 1.5em;
        }
        #legend img {
            display: inline-block;
        }
    </style>
  </head>
  <body>

    {% include header.html %}

    <div class="container">
        <div class="content">
            <h1 class="page-header">2019 FAMNM Robotics Day</h1>
            <p class="text-par font-weight-bold">
                Given dwindling attendance in previous years and the COVID-19 pandemic,
                FAMNM does not plan on holding future Robotics Days at this time.
                If you would still be interested in such an event coming back,
                feel free to reach out to <a href="mailto:famnm.projects@umich.edu">
                the FAMNM Project Development Director</a>.
            </p>
            <!-- <p class = "text-par">
                The FIRST Alumni and Mentors Network at Michigan (FAMNM) will host a Robotics Day on the North Campus of the University of Michigan on November 2, 2019. We want to create a fun and educational experience for the local FRC community. This is a day to learn about robotics and have fun with other teams in the area!
            </p> -->
            <!-- <p class="text-par">
                In the morning we will have workshops and presentations for students and mentors to attend. Topics will range from technical to interpersonal skills. Then in the afternoon, we will host a variety of special activities that explore the University and challenge students!
            </p> -->
            <!-- <p class="text-center">
                <a class="btn famnm-btn-secondary"
                href="https://drive.google.com/drive/folders/1o1GHL-imZLXCR9PwwTTLVZQJs24P5jSc?usp=sharing"
                target="_blank" rel="noopener noreferrer">Workshop Slides</a>
                <a class="btn famnm-btn-secondary"
                href="https://forms.gle/WzCwWBwtAFcgkQd47"
                target="_blank" rel="noopener noreferrer">Feedback Survey</a>
            </p> -->
            <!-- <h2>Morning Schedule</h2> -->
            <!-- Desktop Table -->
            <!-- <table class="table table-striped table-bordered d-none d-md-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>DOW 1010</th>
                        <th>DOW 1013</th>
                        <th>BBB 1670</th>
                        <th>BBB 1690</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in page.morning-schedule %}
                    <tr>
                        <td class="text-right">{{ item[0].time }}</td>
                        {% if item[0].type == "generic" %}
                        <td colspan="4">
                            <span class="font-weight-bold text-uppercase">{{ item[0].title }}</span>
                            {% if item[0] contains "location" %}
                            <br/>{{ item[0].location }}
                            {% endif %}
                        </td>
                        {% else %}
                        <td>{{ item[0].DOW1010 }}</td>
                        <td>{{ item[0].DOW1013 }}</td>
                        <td>{{ item[0].BBB1670 }}</td>
                        <td>{{ item[0].BBB1690 }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <!-- Mobile Table -->
            <!-- <table class="table table-striped table-bordered d-md-none d-lg-none d-xl-none">
                <tbody>
                    {% for item in page.morning-schedule %}
                    <tr><td>
                        <p class="font-weight-bold">{{ item[0].time }}</p>
                        {% if item[0].type == "generic" %}
                            <p class="font-weight-bold">{{ item[0].location }}</p>
                            <p class="font-italic">{{ item[0].title }}</p>
                        {% elsif item[0].type == "presentation" %}
                            <p><span class="font-weight-bold">DOW 1010:</span> {{ item[0].DOW1010 }}</p>
                            <p><span class="font-weight-bold">DOW 1013:</span> {{ item[0].DOW1013 }}</p>
                            <p><span class="font-weight-bold">BBB 1670:</span> {{ item[0].BBB1670 }}</p>
                            <p><span class="font-weight-bold">BBB 1690:</span> {{ item[0].BBB1690 }}</p>
                        {% endif %}
                    </td></tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <!-- <h2>Afternoon Schedule</h2> -->
            <!-- Desktop Table -->
            <!-- <table class="table table-striped table-bordered d-none d-md-table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>DOW 1006</th>
                        <th>DOW 1013</th>
                        <th>BBB 1014</th>
                        <th>BBB 1690</th>
                        <th>BBB Atrium</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in page.afternoon-schedule %}
                    <tr>
                        <td class="text-right">{{ item[0].time }}</td>
                        {% if item[0].type == "generic" %}
                        <td colspan="5">
                            <span class="font-weight-bold text-uppercase">{{ item[0].title }}</span>
                            {% if item[0] contains "location" %}
                            <br/>{{ item[0].location }}
                            {% endif %}
                        </td>
                        {% else %}
                        <td>{{ item[0].DOW1006 }}</td>
                        <td>{{ item[0].DOW1013 }}</td>
                        <td>{{ item[0].DOW1014 }}</td>
                        <td>{{ item[0].BBB1690 }}</td>
                        <td>{{ item[0].BBBATRIUM }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <!-- Mobile Table -->
            <!-- <table class="table table-striped table-bordered d-md-none d-lg-none d-xl-none">
                <tbody>
                    {% for item in page.afternoon-schedule %}
                    <tr><td>
                        <p class="font-weight-bold">{{ item[0].time }}</p>
                        {% if item[0].type == "generic" %}
                            <p class="font-weight-bold">{{ item[0].location }}</p>
                            <p class="font-italic">{{ item[0].title }}</p>
                        {% elsif item[0].type == "presentation" %}
                            <p><span class="font-weight-bold">DOW 1006:</span> {{ item[0].DOW1006 }}</p>
                            <p><span class="font-weight-bold">DOW 1013:</span> {{ item[0].DOW1013 }}</p>
                            <p><span class="font-weight-bold">DOW 1014:</span> {{ item[0].DOW1014 }}</p>
                            <p><span class="font-weight-bold">BBB 1690:</span> {{ item[0].BBB1690 }}</p>
                            <p><span class="font-weight-bold">BBB Atrium:</span> {{ item[0].BBBATRIUM }}</p>

                        {% endif %}
                    </td></tr>
                    {% endfor %}
                </tbody>
            </table> -->
            <!-- <h2>Map</h2>
            <div id="map-wrap">
                <div id="map"></div>
            </div>
            <div id="legend" class="row font-weight-bold">
                <span class="col-sm">
                    <img src="../img/kickoff/icons/parking.png" alt="Parking"/>
                    Parking
                </span>
                <span class="col-sm">
                    <img src="../img/kickoff/icons/star.png" alt="Check In"/>
                    Check In (Bob and Betty Beyster Building)
                </span>
            </div> -->
        </div>
    </div><!-- /.container -->
	{% include footer.html %}
        {% include scripts.html %}
        <script src="../js/web-encapsulation.js"></script>
        <script src="../js/forums.js"></script>
  </body>
</html>
