---
title: Robot Quick Build | FIRST® Alumni & Mentors Network at Michigan
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include title-styles.html %}
</head>
<body>
    {% include header.html %}

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1>FAMNM Robot Quick Build</h1>
            </div>
            <div class="well">
                <p>The Robot Quick Build (RQB) is an event held in
                  early January, usually the day after our FRC Kickoff event.
                  Teams work with FAMNM members to jumpstart their FRC season
                  by getting a working drivetrain on the first day of build season! FAMNM
                  offers assistance in mechanical, electrical, programming, and game strategy.
                  Check out some highlights from this year's RQB below!</p>
            </div>
            <div id="carousel-rqb" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-rqb" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-rqb" data-slide-to="1"></li>
                    <li data-target="#carousel-rqb" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../img/rqb/carousel/kitbot.jpg">
                        <div class="carousel-caption">
                            <h3>Completed Chassis</h3>
                            <p>One team finishes the construction of their KOP chassis</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../img/rqb/carousel/programming.jpg">
                        <div class="carousel-caption">
                            <h3>Programming</h3>
                            <p>A FAMNM member helps one team get started with coding their robot</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../img/rqb/carousel/electrical.jpg">
                        <div class="carousel-caption">
                            <h3>Electrical</h3>
                            <p>No RQB robot is complete without an electrical board!</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-rqb" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Last</span>
              </a>
              <a class="right carousel-control" href="#carousel-rqb" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
  </div>

    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
