---
import FIRST from "../FIRST.astro";
import Link from "../Link.astro";
import Announcement from "./Announcement.astro";
---


<section id="home-announcements" class="container mb-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-1 justify-content-center">
        <Announcement
            title="Register for 2024 FRC kickoff"
            image="/img/index/announcements/first-broadcast.jpeg"
            alt="Teams watch FIRST's kickoff broadcast during FAMNM's 2023 FRC kickoff"
            links={[
                {
                    text: "Register with FAMNM",
                    link: "https://docs.google.com/forms/d/e/1FAIpQLSf5AqbloeG3BB6XkObmvOV6a9Rh6wUlhCWAJrUyJC1n0LJwtQ/viewform?usp=sf_link",
                },
            ]}
        >
            FAMNM is hosting a kickoff for the 2024 FRC season, CRESCENDO<sup>SM</sup>,
            on <time datetime="2024-01-06">January 6, 2024</time> at the University of Michigan in Ann Arbor.

            To sign up, please register with <Link to="https://www.firstinspires.org/team-event-search/event?id=70167">FIRST</Link>
            and then fill out the following registration form.
        </Announcement>
        <Announcement
            title="Offseason FRC volunteering"
            image="/img/teams/frc-2019-referee.jpg"
            alt="A FAMNM member volunteers as a referee at an offseason FRC competition in 2019"
            links={[
                {
                    text: "Sign up to volunteer",
                    link: "https://docs.google.com/spreadsheets/d/1y21P9C3zvn2nZkpPv_Wkg1PdPLeSCFIN1_S3EfKJYMw/edit#gid=0",
                    tooltip: "umich.edu account required"
                },
            ]}
        >
            FAMNM is organizing volunteering efforts at nearby FRC offseason events in 2023. Join us!
        </Announcement>
        <Announcement
            title="Matching teams with mentors"
            image="/img/teams/fr_mentor2.jpg"
            alt="Freelance mentors from FAMNM helping out an FRC team"
            links={[
                {
                    text: "Request mentoring",
                    link: "https://docs.google.com/forms/d/e/1FAIpQLSdxwCNhkoOetBASDQuRNeuxTaVqER6vIT36LixpFXDfwyfEEA/viewform"
                },
                {
                    text: "Offer mentoring",
                    link: "https://docs.google.com/forms/d/e/1FAIpQLSc_cboTYS4eDCsD0Z2NylXrKOez33J6Ij88vC7x8-SzZh5VkQ/viewform",
                    tooltip: "umich.edu account required"
                }
            ]}
        >
            Teams, fill out the request form below to receive mentoring from FAMNM members.<br />
            FAMNM members, fill out the freelance interest form below to get matched with a team.
        </Announcement>
        
    </div>
</section>
