---
import Announcement from "./Announcement.astro";
---


<section id="home-announcements" class="container mb-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
        <Announcement
            title="Offseason FRC volunteering"
            image="/img/teams/frc-2019-referee.jpg"
            alt="A FAMNM member volunteers as a referee at an offseason FRC competition in 2019"
            links={[
                {
                    text: "Sign up to volunteer",
                    link: "https://docs.google.com/spreadsheets/d/1y21P9C3zvn2nZkpPv_Wkg1PdPLeSCFIN1_S3EfKJYMw/edit#gid=0",
                    tooltip: "umich.edu account required"
                },
            ]}
        >
            FAMNM is organizing volunteering efforts at nearby FRC offseason events in 2023. Join us!
        </Announcement>
        <Announcement
            title="Matching teams with mentors"
            image="/img/teams/fr_mentor2.jpg"
            alt="Freelance mentors from FAMNM helping out an FRC team"
            links={[
                {
                    text: "Request mentoring",
                    link: "https://docs.google.com/forms/d/e/1FAIpQLSdxwCNhkoOetBASDQuRNeuxTaVqER6vIT36LixpFXDfwyfEEA/viewform"
                },
                {
                    text: "Offer mentoring",
                    link: "https://docs.google.com/forms/d/e/1FAIpQLSc_cboTYS4eDCsD0Z2NylXrKOez33J6Ij88vC7x8-SzZh5VkQ/viewform",
                    tooltip: "umich.edu account required"
                }
            ]}
        >
            Teams, fill out the request form below to receive mentoring from FAMNM members.<br />
            FAMNM members, fill out the freelance interest form below to get matched with a team.
        </Announcement>
        <Announcement
            title="Interested in joining FAMNM?"
            image="/img/index/announcements/game-night-2018.jpg"
            alt="FAMNM game night"
            links={[
                {
                    text: "Interest form",
                    link: "https://forms.gle/UVQ5rXoXxjexmo8e6",
                },
            ]}
        >
            Come to our Fall 2023 General Body Meetings <b>every Monday at 7 PM in DOW 1206</b>, and
            fill out our <a href="https://forms.gle/UVQ5rXoXxjexmo8e6">Fall 2023 interest form</a>
            so that we can add you to our Slack workspace and mailing list.
        </Announcement>
    </div>
</section>
