---
import Announcement from "./Announcement.astro";
---

<section id="home-announcements" class="container mb-4">
  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-1 justify-content-center"
  >
    <Announcement
      title="2024 FTC kickoff"
      image="ftc/2024/kickoff-livestream.png"
      alt="FTC team members watch a presentation attentively in an auditorium"
      links={[
        {
          text: "Game Resources",
          link: "https://www.firstinspires.org/resource-library/ftc/game-and-season-info",
        },
      ]}
    >
      FAMNM kicked off the 2024&ndash;2025 FTC season, <i>INTO THE DEEP</i>, on <time
        datetime="2024-09-07">September 7, 2024</time
      > at the University of Michigan in Ann Arbor.
    </Announcement>
    <Announcement
      title="Matching teams with mentors"
      image="teams/fr_mentor2.jpg"
      alt="Freelance mentors from FAMNM helping out an FRC team"
      links={[
        {
          text: "Request mentoring",
          link: "https://docs.google.com/forms/d/e/1FAIpQLSdxwCNhkoOetBASDQuRNeuxTaVqER6vIT36LixpFXDfwyfEEA/viewform",
        },
        {
          text: "Offer mentoring",
          link: "https://docs.google.com/forms/d/e/1FAIpQLSc_cboTYS4eDCsD0Z2NylXrKOez33J6Ij88vC7x8-SzZh5VkQ/viewform",
          tooltip: "umich.edu account required",
        },
      ]}
    >
      Teams, fill out the request form below to receive mentoring from FAMNM
      members.<br />
      FAMNM members, fill out the freelance interest form below to get matched with
      a team.
    </Announcement>
    <Announcement
      title="Interested in joining FAMNM?"
      image="index/announcements/general_fall_2019.jpg"
      alt="FAMNM members conduct a meeting in a classroom"
      links={[
        {
          text: "Interest Form",
          link: "https://forms.gle/nvQ9UjXtKPqzFHwt9",
          tooltip: "umich.edu account required",
        },
      ]}
    >
      Come to our Winter 2025 General Body Meetings <b
        >every Monday at 8 PM in FXB</b
      >, and fill out the interest form linked below to get added to our Slack
      workspace and Google Drive.
    </Announcement>
  </div>
</section>
