---
import CarouselIndicator from "./carousel/CarouselIndicator.astro";
import CarouselItem from "./carousel/CarouselItem.astro";

const images = [
    {
        title: "2023 FRC Kickoff",
        description: "Teams learn about the University of Michigan Robotics Institute prior to the reveal of FIRST\u00ae CHARGED UP presented by Haas",
        src: "/img/kickoff/2023/rob-presentation.jpeg",
    },
    {
        title: "Ri3D Under Development",
        description: "FAMNM's Robot in 3 Days team tests its new intake on cubes from CHARGED UP",
        src: "/img/ri3d/2023/claw-build.jpeg",
    },
    {
        title: "At the Apple Orchard",
        description: "FAMNM on a social trip to Apple Charlie's Orchard in October 2022",
        src: "/img/carousel/apple-orchard-2022.jpg",
    },
    {
        title: "FACC Winners!",
        description: "FAMNM's Robot in 3 Days team with the championship trophy from the first annual FIRST Alumni Collegiate Competition",
        src: "/img/ri3d/2019-winners.jpg",
    },
    {
        title: "Volunteering",
        description: "FAMNM wins the Volunteer Award at the 2018 East Jackson FTC Qualifier!",
        src: "/img/carousel/east-jackson-ftc.jpg",
    },
    {
        title: "Lincoln District Event",
        description: "FAMNM Volunteers help out at the 2018 FiM Lincoln Event! Photo credit to Jonathan Skowronek",
        src: "/img/carousel/lincoln-event.jpg",
    },
];
---

<div id="frontpage-carousel" class="carousel slide mx-0 w-100 px-0 mb-4" data-ride="carousel">
    <div class="carousel-indicators">
        {
            images.map((_, i) => 
                <CarouselIndicator i={i} active={i === 0} />
            )
        }
    </div>
    <div class="carousel-inner" role="listbox">
        {
            images.map(({ src, title, description }, i) => 
                <CarouselItem src={src} title={title} description={description} active={i === 0} />
            )
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#frontpage-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Last</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#frontpage-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
