---
import "../style/main.scss";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Scripts from "../components/Scripts.astro";
import TitleStyles from "../components/TitleStyles.astro";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <TitleStyles title={title} />
        <slot name="head" />
        <ViewTransitions />
    </head>
    <body>
        <Header />

        <slot />

        <Footer />
        <Scripts />
        <slot name="scripts" />
    </body>
</html>
