---
import FIRST from "../../components/FIRST.astro";
import ThemeSwitcher from "../../components/ThemeSwitcher.astro";
import Carousel from "../../components/index/carousel/Carousel.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Img } from "astro-imagetools/components";
import DayAgenda from "../../components/events/DayAgenda.tsx";
import 'mapbox-gl/dist/mapbox-gl.css';

---
<BaseLayout title="FTC Kickoff | FIRST® Alumni & Mentors Network at Michigan">
    <div class="container">
        <main class="content">
            <div class="row justify-content-center mb-4">
                <div class="col col-12 col-lg-6 mx-auto p-2 p-md-3">
                    <ThemeSwitcher>
                        <span slot="light">
                            <Img attributes={{img: {class: "center w-75"}}} src="/img/ftc/2023/centerstage-light.png"
                                alt="CENTERSTAGE, presented by RTX" placeholder="none" format="webp" />
                        </span>
                        <span slot="dark">
                            <Img attributes={{img: {class: "center w-75"}}} src="/img/ftc/2023/centerstage-dark.png"
                                alt="CENTERSTAGE, presented by RTX" placeholder="none" format="webp" />
                        </span>
                    </ThemeSwitcher>
                </div>
                <div class="col col-12 col-lg-9 mt-1 mt-md-2">
                    <h1 class="display-6 fw-bold">FAMNM <i>FIRST<sup>&reg;</sup></i> Tech Challenge Kickoff</h1>
                    <p class="mb-4">FAMNM is hosting a kickoff for the 2023&ndash;2024 season of <FIRST /> Tech Challenge, CENTERSTAGE<sup>SM</sup>, on <time datetime="2023-09-09">September 9<sup>th</sup>, 2023</time> on the University of Michigan's <a href="https://goo.gl/maps/fLGy2FxVHeozWEZt6" rel="noreferrer noopener" target="_blank">North Campus</a>.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg gap-3" href="https://docs.google.com/spreadsheets/d/1APPI9L76-n7B-cM7JXfZwbMEv8TdedkOScCtLDttj1Y/edit#gid=943429782" rel="noreferrer noopener" target="_blank" data-bs-toggle="tooltip" data-placement="top" title="Due to regulatory requirements, you may only sign up for positions that don't involve interaction with middle-school students from now until the event.">
                            Sign up to volunteer
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <DayAgenda minHour={7} maxHour={12} events={[
                    {
                        startMins: 9*60 + 30,
                        endMins: 10*60 + 30,
                        activity: "Check In",
                        location: "Pierpont Commons",
                        icon: "fa-handshake"
                    },
                    {
                        startMins: 10*60 + 30,
                        endMins: 11*60 + 45,
                        activity: "Demonstrations & Tours",
                    },
                    {
                        startMins: 12*60,
                        endMins: 12*60 + 30,
                        activity: "Game Reveal",
                        icon: "fa-eye"
                    },
                    {
                        startMins: 12*60 + 30,
                        endMins: 13*60,
                        activity: "Pizza Pickup",
                        icon: "fa-pizza"
                    },
                    {
                        startMins: 13*60,
                        endMins: 15*60,
                        activity: "Field Reveal & Breakout Rooms",
                        icon: "fa-people-group"
                    }
                ]} startTime={Date.UTC(2023, 8, 9, 4, 0, 0)} markers={[
                    {
                        title: 'Game Reveal',
                        lat: 42.29210183926731,
                        long: -83.71690565127908,
                        icon: 'fa-eye'
                    },
                    {
                        title: 'Parking',
                        lat: 42.29366014488359,
                        long: -83.71640351893917,
                        icon: 'fa-square-parking'
                    },
                    {
                        title: 'Field Reveal',
                        lat: 42.292889905590265,
                        long: -83.71566299695363,
                        icon: 'fa-people-line'
                    },
                    {
                        title: 'Check-In',
                        lat: 42.291404102011604,
                        long: -83.71735215001658,
                        icon: 'fa-handshake'
                    },
                    {
                        title: 'Breakout Rooms',
                        lat: 42.29249990273177,
                        long: -83.71473462921678,
                        icon: 'fa-people-group'
                    }
                ]} client:load />
            </div>
        </main>
    </div>
    <!-- /.container -->
    <Carousel id="image-carousel" images={[
        {
            title: 'TOA Presentation',
            description: `
Kyle Flynn, Vice Chairman and Chief Technology Officer for
<a href="https://theorangealliance.org/about" rel="noreferrer noopener" target="_blank">The Orange Alliance</a>,
presents his <i>FIRST</i> journey to teams.`,
            src: "/img/ftc/2022/speaker.jpg"
        },
        {
            title: 'Field Reveal',
            description: `Teams visit and examine the new <i>Power Play</i> field as they ideate and strategize.
FAMNM's Eeshwar Krishnan explains the game's rules in detail.`,
            src: "/img/ftc/2022/field-reveal.jpg"
        },
        {
            title: 'Digit, the Humanoid',
            description: `During FAMNM's 2021-2022 FTC Kickoff, Oluwami showcases Digit, a humanoid robot from Agility Robotics.`,
            src: "/img/ftc/2021/oluwami-digit.jpg"
        }
    ]} />
    <div class="container p-4">
        <div class="row">
            <div class="col">
                <p class="m-0">
                    <a href="https://www.firstinspires.org/ftc" rel="noopener noreferrer">FIRST Tech Challenge</a>
                    (FTC) is the middle/high school level in the FIRST progression of programs.
                    In 2017, FAMNM launched its first FTC Kickoff event, where we invited local teams to view the reveal of the new
                    year's challenge in early September. The event came complete with FRC Demos, inspiring speeches, and a chance
                    to see an official FTC game field!
                </p>
            </div>
        </div>
    </div>

    <style>
        #schedule-table th {
            opacity: 0.75;
            text-align: right;
            width: 5.5rem;
            height: 2.6rem;
            transform: translateY(-1.3rem);
            line-height: 100%;
            vertical-align: middle;
            padding: 0.5rem 0 0.5rem 0.5rem;
        }

        .schedule-time {
            padding: 4px;
            border-radius: 6px;
            border: 1px solid rgba(0, 0, 0, 0.7);
        }

        #schedule-table td {
            padding: 2px;
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            vertical-align: middle;
            font-size: 1.1rem;
        }

        #schedule-table {
            max-width: 42rem;
        }
    </style>
</BaseLayout>