---
import FIRST from "../../components/FIRST.astro";
import ThemeSwitcher from "../../components/ThemeSwitcher.astro";
import Carousel from "../../components/index/carousel/Carousel.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
// import 'mapbox-gl/dist/mapbox-gl.css';

import seasonLogoLight from "../../images/ftc/2025/decode-light.png";
import seasonLogoDark from "../../images/ftc/2025/decode-dark.png";
---

<BaseLayout title="FTC Kickoff | FIRST® Alumni & Mentors Network at Michigan">
  <div class="container">
    <main class="content">
      <div class="row justify-content-center mb-4">
        <div class="col col-12 col-lg-6 mx-auto p-2 p-md-4">
          <ThemeSwitcher>
            <span slot="light">
              <Image
                class="center w-50 h-auto"
                src={seasonLogoLight}
                alt="CENTERSTAGE, presented by RTX"
                format="webp"
              />
            </span>
            <span slot="dark">
              <Image
                class="center w-50 h-auto"
                src={seasonLogoDark}
                alt="CENTERSTAGE, presented by RTX"
                format="webp"
              />
            </span>
          </ThemeSwitcher>
        </div>
        <div class="col col-12 col-lg-9 mt-1 mt-md-2">
          <h1 class="display-6 fw-bold">
            FAMNM <i>FIRST<sup>&reg;</sup></i> Tech Challenge Kickoff
          </h1>
          <p class="mb-4">
            FAMNM will host a kickoff event for the 2025&ndash;2026 season of <FIRST
            /> Tech Challenge, DECODE<sup>SM</sup>, on <time
              datetime="2025-09-06">September 6<sup>th</sup>, 2025</time
            > at the University of Michigan's <a
              href="https://goo.gl/maps/fLGy2FxVHeozWEZt6"
              rel="noreferrer noopener"
              target="_blank">North Campus</a
            >. Good luck, teams! 🫧
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a
              class="btn btn-primary btn-lg gap-3"
              href="https://forms.gle/NxWyrkmQZeLTe6u58"
              rel="noreferrer noopener"
              target="_blank"
            >
              Kickoff Registration Form
            </a>
            <a
              class="btn btn-primary btn-lg gap-3"
              href="https://www.firstinspires.org/robotics/ftc/game-and-season"
              rel="noreferrer noopener"
              target="_blank"
            >
              Game and Season Info
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- /.container -->
  <Carousel
    id="image-carousel"
    images={[
      {
        title: "FIRST Kickoff Broadcast",
        description:
          "Teams watch as <i>FIRST</i> reveals the 2024&ndash;2025 FTC season game, <i>INTO THE DEEP</i>, in a kickoff livestream shown at the Stamps Auditorium.",
        src: "ftc/2024/kickoff-livestream.png",
      },
      {
        title: "CENTERSTAGE Reveal",
        description:
          "Teams visit and inspect the <i>CENTERSTAGE</i> game field from the 2023&ndash;2024 season.",
        src: "ftc/2023/field-reveal.png",
      },
      {
        title: "TOA Presentation",
        description: `
During FAMNM's 2022&ndash;2023 FTC Kickoff,
Kyle Flynn, Vice Chairman and Chief Technology Officer for
<a href="https://theorangealliance.org/about" rel="noreferrer noopener" target="_blank">The Orange Alliance</a>,
presents his <i>FIRST</i> journey to teams.`,
        src: "ftc/2022/speaker.jpg",
      },
      {
        title: "Digit, the Humanoid",
        description: `During FAMNM's 2021&ndash;2022 FTC Kickoff, Oluwami showcases Digit, a humanoid robot from Agility Robotics.`,
        src: "ftc/2021/oluwami-digit.jpg",
      },
    ]}
  />
  <div class="container p-4">
    <div class="row">
      <div class="col">
        <p class="m-0">
          <a href="https://www.firstinspires.org/ftc" rel="noopener noreferrer"
            >FIRST Tech Challenge</a
          >
          (FTC) is the middle/high school level in the FIRST progression of programs.
          In 2017, FAMNM launched its first FTC Kickoff event, where we invited local
          teams to view the reveal of the new year's challenge in early September.
          The event came complete with FRC Demos, inspiring speeches, and a chance
          to see an official FTC game field!
        </p>
      </div>
    </div>
  </div>

  <style>
    #schedule-table th {
      opacity: 0.75;
      text-align: right;
      width: 5.5rem;
      height: 2.6rem;
      transform: translateY(-1.3rem);
      line-height: 100%;
      vertical-align: middle;
      padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .schedule-time {
      padding: 4px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.7);
    }

    #schedule-table td {
      padding: 2px;
      border-top: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      vertical-align: middle;
      font-size: 1.1rem;
    }

    #schedule-table {
      max-width: 42rem;
    }
  </style>
</BaseLayout>
