---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Carousel from "../../components/index/carousel/Carousel.astro";
import { Image } from "astro:assets";
import SponsorList from "../../components/SponsorList.astro";
import ThemeSwitcher from "../../components/ThemeSwitcher.astro";
import Link from "../../components/Link.astro";
// import 'mapbox-gl/dist/mapbox-gl.css';

import seasonLogoLight from "../../images/kickoff/2026/rebuild_season_logo_light.png";
import seasonLogoDark from "../../images/kickoff/2026/rebuild_season_logo_dark.png";

const carouselItems = [
  {
    title: "Kit Distribution On Site",
    description:
      "FAMNM distributes the new Kit of Parts for <i>CHARGED UP</i> to attending teams",
    src: "kickoff/2023/kit-distribution.jpeg",
  },
  {
    title: "Engineering Organization Fair",
    description:
      "Teams learn about Michigan Engineering's various student organizations along with the new Undergraduate Robotics program",
    src: "kickoff/2024/orgfair.png",
  },
  {
    title: "Michigan Robotics Presentation",
    description:
      "Teams learn about the curricular roadmap of the Robotics major at the University of Michigan",
    src: "kickoff/2024/robotics_infosession.png",
  },
  {
    title: "The FAMNM Event Crew",
    description:
      "From parking assistance to breakout room supervision, FAMNM members and affiliated volunteers ensure a smooth kickoff experience",
    src: "kickoff/2023/event-crew.jpeg",
  },
];
---

<BaseLayout title="FRC Kickoff | FIRST® Alumni & Mentors Network at Michigan">
  <main>
    <div class="container content mb-3">
      <div class="row justify-content-center">
        <div class="col col-8 col-md-6 col-lg-4 mx-auto p-4 p-md-5">
          <a
            href="https://www.firstinspires.org/robotics/frc/game-and-season"
            aria-label="CRESCENDO season information"
            rel="noopener noreferrer"
            target="_blank"
          >
            <ThemeSwitcher>
              <span slot="light">
                <Image
                  class="center w-100 h-auto"
                  format="webp"
                  src={seasonLogoLight}
                  alt="CRESCENDO, presented by Haas"
                />
              </span>
              <span slot="dark">
                <Image
                  class="center w-100 h-auto"
                  format="webp"
                  src={seasonLogoDark}
                  alt="CRESCENDO, presented by Haas"
                />
              </span>
            </ThemeSwitcher>
          </a>
        </div>
        <div class="col col-12 mt-1 mt-md-2">
          <h1 class="display-6 fw-bold">
            FAMNM <i>FIRST<sup>&reg;</sup></i> Robotics Competition Kickoff
          </h1>
          <p>
            FAMNM will be hosting a kickoff for the 2026 FRC season,
            <i>REBUILT</i>, on <time datetime="2026-01-10"
              >Saturday, January 10th, 2026</time
            >
            at <Link
              to="https://www.google.com/maps/place/Stamps+Auditorium/@42.2920709,-83.7194285,792m/data=!3m2!1e3!4b1!4m6!3m5!1s0x883caf00459093c1:0x4afa30c646a3067!8m2!3d42.2920709!4d-83.7168536!16s%2Fg%2F11vrxmtynq?entry=tts&g_ep=EgoyMDI1MDkwMi4wIPu8ASoASAFQAw%3D%3D&skid=105fb843-c647-412c-ae65-46099a7431e4">Stamps Auditorium</Link
            > on University of Michigan's North Campus.  Good luck and have fun, teams!&nbsp;<i
              class="fa-solid fa-search"></i>
          </p>
        </div>
        <div
          class="col col-12 mt-1 mt-md-2 gap-2 d-grid d-sm-flex justify-content-sm-center"
        >
          <a
            class="btn famnm-btn-secondary btn-lg gap-2"
            rel="noreferrer noopener"
            target="_blank"
            href="https://www.firstinspires.org/programs/frc/game-and-season"
          >
            Season Materials&nbsp;
            <i class="fa-solid fa-circle-info"></i>
          </a>
        </div>
      </div>
    </div>
    <Carousel id="kickoff-carousel" images={carouselItems} />
    <div class="container content">
      <div class="row pt-2">
        <h3>Sponsors</h3>
        <SponsorList sponsors={["esg", "coe"]} />
      </div>
    </div>
  </main>
</BaseLayout>
